[2016-11-01 01:01] alexristich commented on #983
Thanks for the additional info. I'm surprised Chrome crashed when uninstalling an extension - even if the extension is problematic, it lives in a sandbox and basically gets all its permissions from Chrome's API.

I'm not immediately sure what would be causing this, though @cooperq might have some further insight. One thing you can try is navigating to one of these problem pages and clicking the "D

[2016-11-01 01:04] Helpper commented on #981
Thank you for your explanation.

[2016-11-01 01:14] alexristich commented on #981
Happy to help! I'll close this issue, and the others can post if any clarification or correction is needed on my comment above.

If you have any other questions or issues feel free to open up another issue.

[2016-11-01 01:14] #981 closed

[2016-11-01 01:23] alexristich commented on #971
I'm working on a feature that would allow importing and exporting of Privacy Badger data (#982). Once that's finished, I should be able to implement this one fairly easily. Perhaps better anyway, since we'll be able to suggest users the option of exporting their data first before clearing it entirely, allowing them to restore it if they decide they want it back at some point in the future.

[2016-11-01 01:57] terrorist96 opened #985 "tv.xfinity.com"
https://tv.xfinity.com

`xtvapi.cloudtv.comcast.net`
`login.comcast.net`
`edge.myriad-gn-xcr.xcr.comcast.net`
`ccr.col-jitp2.xcr.comcast.net`
`mm.col-jitp2.xcr.comcast.net`
`odol-atsec-njs-31.col-jitp2.xcr.comcast.net`
`odol-atsec-njs-15.ip-ads.xcr.comcast.net`
`odol-atsec-njs-15.ip-ads.xcr.comcast.net`
`ccr.linear-nat-pil.xcr.comcast.net`
`odol-atsec-njs-01.linear-nat-pil.xcr.comcast.net`
`odol-a

[2016-11-01 18:31] alexristich opened #986 "Add WebRTC IP handling setting for better protection (#969)"
Update #969 to also add a setting that users can toggle to allow strictest protection setting for WebRTC.

[2016-11-01 18:35] cooperq opened #987 "Finish web extensions compatibility and migration"

[2016-11-01 19:58] pde commented on #771
This is probably better than what we have, but I'm not sure that chasing better entropy estimations is all that valuable. Probably the next interesting step would be to get samples of the cookies out there that are close to the line as we currently draw it, and see how common it is for this algorithm to be making important decisions.

[2016-11-01 20:14] cooperq commented on #616
detection: etag supercookies
detection: session, db, other html5 storage
blocking: session, db, other html5 storage
blocking: etag?
detection: navigator plugins
blocking: navigator plugins

[2016-11-03 22:51] terrorist96 commented on #979
https://motorola-blog.blogspot.com/2016/11/transform-smartphone-challenge-moto.html

`3.bp.blogspot.com` blocks image in upper left.

[2016-11-04 15:23] terrorist96 commented on #979
https://youtube-creators.googleblog.com/2016/11/new-tools-to-shape-conversations-in.html

`4.bp.blogspot.com` breaks image at bottom.

[2016-11-04 18:51] terrorist96 opened #989 "voices.nationalgeographic.com blocks images"
http://palomaraudubon.org/top-25-wild-bird-photographs-of-the-week-76/

`voices.nationalgeographic.com` needs to be moved to yellow to fix images.

[2016-11-04 21:03] alexristich commented on #983
I talked with @cooperq about this briefly, and he agreed that it sounds like it would have been something external to Privacy Badger, as it seemed suspicious that the browser crashed when trying to uninstall an extension.

I'll close this issue for now, though if you do notice this occurring again and it looks to be related to Privacy Badger, please feel free to post here and I'd be happy to give

[2016-11-04 21:03] #983 closed

[2016-11-04 21:08] calexil commented on #983
@alexristich Ill look into it further, thanks for the input

[2016-11-07 12:10] dhowe commented on #894
And update on this?

[2016-11-08 02:09] terrorist96 commented on #979
https://gsuiteupdates.googleblog.com/2016/08/a-new-google-hangouts-chrome-extension.html

3.bp.blogspot.com

Should be on yellow. Blocks image.

[2016-11-08 02:09] terrorist96 commented on #945
Closing this in favor of #979

[2016-11-08 02:09] #945 closed

[2016-11-08 18:50] alexristich commented on #332
Finished this in #969, adding toggle button to Settings page in #986.

[2016-11-08 18:50] #332 closed

[2016-11-12 15:03] terrorist96 commented on #979
http://www.organicandhealthy.org/2016/11/aldi-goes-full-organic-bans-pesticides.html

Images hosted on `4.bp.blogspot.com`, being blocked.

[2016-11-15 19:18] alexristich opened #990 "When does snitch_map get cleaned up?"
Looking through the code, it's not obvious when (if ever) `snitch_map` gets cleaned up after "promoting" a tracker to the `block` heuristic action in `action_map`. It must be getting cleaned up somehow, as `snitch_map` is significantly shorter than `action_map`, so it appears there is some culling taking place at some point.

[2016-11-17 05:54] terrorist96 opened #991 "cdn.embed.ly blocks video"
http://www.ign.com/articles/2012/03/01/the-hidden-history-of-assassins-creed-iii

`cdn.embed.ly` blocks youtube video.

Similar to https://github.com/EFForg/privacybadgerchrome/issues/863

[2016-11-17 22:18] terrorist96 opened #992 "pcworld.com images broken"
http://www.pcworld.com/article/2972721/software-games/the-17-best-educational-games-of-the-70s-80s-and-90s.html

`core0.staticworld.net` and `images.techhive.com` need to be moved from red to yellow to fix article images.
There's a lot of other *.staticworld.net subdomains being blocked too. They might cause breakage of other stuff on other pages. IDK

Edit: yeah, `core4` and `csmb` block images a

[2016-11-18 03:02] terrorist96 opened #993 "www.googletagservices.com breaks images"
http://www.vice.com/en_us

Half the articles' image don't load cuz of `www.googletagservices.com`. Moving to yellow fixes it.

Applies on article pages too. Example:
http://www.vice.com/read/north-korea-is-stoned-all-the-time-which-explains-a-lot

[2016-11-18 15:25] terrorist96 commented on #992
http://www.infoworld.com/article/3142197/microsoft-windows/users-should-avoid-microsofts-just-released-preview-windows-patches.html

Same deal

[2016-11-18 20:34] terrorist96 opened #995 "shield.sitelock.com"
http://www.qualityessays.net/

`shield.sitelock.com` blocks the `website security` image that's supposed to be displayed at the bottom left.

[2016-11-18 22:43] cooperq commented on #986
Fixed by #332

[2016-11-18 22:43] #986 closed

[2016-11-19 01:08] alexristich commented on #366
As discussed, this issue is too non-specific, and can be better addressed with multiple issues each regarding a specific detection/defense. As such, I'll go ahead and close this issue.

[2016-11-19 01:08] #366 closed

[2016-11-19 21:48] chipb opened #996 "Includes Mozilla-blacklisted jquery version"
I went the route of @willsALMANJ in https://github.com/EFForg/privacybadgerfirefox/issues/208#issuecomment-247767488 and tried self-signing a version of this extension for my own use through AMO.

Unfortunately, their automated linter balks at a blacklisted version of jQuery in my upload.
![amo-error](https://cloud.githubusercontent.com/assets/995144/20458571/a4f1f782-ae5d-11e6-865d-e33c1fa34bef.p

[2016-11-20 03:13] alexristich commented on #990
@cooperq As discussed, here is my understanding of `snitch_map`. If any of this is incorrect let me know!

The current behavior of `snitch_map` is to store *all* the domains where a third party tracker is detected. A heuristic action will only be generated for trackers that are detected on at least 3 separate TLDs, with 3 being the current threshold set in the code base.

Information is not cleare

[2016-11-20 03:13] #990 closed

[2016-11-20 06:05] willsALMANJ commented on #996
Interesting. It looks like they banned JQuery 1.x shortly after I posted that comment:

https://github.com/mozilla/addons-linter/commit/2dcc2226e2ec9dea65708b0a1cc97a9cd593d82d

[2016-11-20 19:35] terrorist96 commented on #979
http://crimeresearch.org/2013/12/murder-and-homicide-rates-before-and-after-gun-bans/

`2.bp.blogspot.com`

[2016-11-21 14:42] billywaite opened #997 "The 7th slide in the tutorial has a grammatical error."
The error is in [this slide](https://github.com/EFForg/privacybadger/blob/94601ad62ca1c6b309d4b566f1624f657490eebe/src/icons/slideshow/PB-layouts-07.png).

Currently, the slide says: "If the slider is green that means that I can't tell if this domain is tracking you yet."

It should say: "If the slider is green**,** that means that I can't tell if this domain is tracking you yet."

Just an added c

[2016-11-21 15:46] gouch opened #998 "jsDelivr CDN incorrectly blocked"
For me, Privacy Badger just decided cdn.jsdelivr.net requests need to be blocked entirely.

![jsdelivr](https://cloud.githubusercontent.com/assets/38445/20489166/9dd567ec-afd7-11e6-8d6b-970945856af8.png)

This doesn't make sense to me, though, since as a CDN, it doesn't set any cookies. Is this possibly a badger bug / can this CDN be whitelisted?

[2016-11-21 18:36] terrorist96 opened #999 "cdn(s).gigya.com blocks images"
http://www.dailystar.co.uk/news/latest-news/563846/twitter-child-sex-porn-ring-pizzagate-gamer-leaks-thousands-of-social-media-accounts

`cdn.gigya.com` and `cdns.gigya.com` block images for articles on right.

[2016-11-21 19:16] terrorist96 commented on #979
http://blog.erratasec.com/2016/10/yes-we-can-validate-wikileaks-emails.html

[2016-11-22 19:22] terrorist96 opened #1000 "no-cache.hubspot.com"
https://www.paytrail.com/

`no-cache.hubspot.com` blocks these images:
https://no-cache.hubspot.com/cta/default/335946/7cede0df-e423-4922-bbb4-60e385bfde5a.png
https://no-cache.hubspot.com/cta/default/335946/f8fcc8f1-73c1-4f57-aaa4-7cabbc7661e1.png
https://no-cache.hubspot.com/cta/default/335946/c51e1fb8-a837-406c-a7a5-57aa7fdb95c8.png
https://no-cache.hubspot.com/cta/default/335946/f8fcc8f1-73c1-

[2016-11-22 23:57] terrorist96 commented on #957
https://my.t-mobile.com/contact-us.html

`62258097.va.cobrowse.liveperson.net`
`lptag.liveperson.net`
`va.v.liveperson.net`
need to be moved to yellow cuz they block live chat.

You need to be logged in to reproduce this.

[2016-11-24 12:55] asurak commented on #809
The issue has returned and its worse than ever. We see our domain `algolia.net` and `algolianet.com` blocked for no reason.
![screen shot 2016-11-24 at 13 52 44](https://cloud.githubusercontent.com/assets/313744/20599286/9962fdfa-b24d-11e6-8824-cf5da86e37d4.png)

All the domains have DNT policy and no cookies. Why are we blocked?

[2016-11-24 18:18] asurak commented on #809
This issue is widespread and it's causing us serious business impact

[2016-11-28 18:16] ghajini opened #1001 "page becomes unresponsive with privacy badger"
@cooperq
http://www.ibtimes.co.in/7th-pay-commission-salary-hike-central-government-employees-not-reflecting-gdp-data-706000
this page becomes unresponsive with privacy badger....video at this site plays for 2 seconds only then pauses...
chrome advice me to kill or wait prompt........
![screenshot 57](https://cloud.githubusercontent.com/assets/20338483/20680491/512d13d8-b5c5-11e6-80db-d100bc7497db

[2016-11-30 00:06] terrorist96 opened #1003 "*.abcnews.com breaks images"
http://abc7ny.com/news/potential-settlement-would-end-ban-on-nj-citizens-buying-stun-guns/1628476/

`a.abcnews.com` breaks some images on the right.
`s.abcnews.com` is also blocked when it shouldn't be; not a third party.

[2016-11-30 09:53] ralish opened #1004 "Sort whitelisted domains"
In the **Whitelisted domains** tab in **Privacy Badger Options** the whitelisted domains don't appear to be sorted. Presumably they're sorted simply based on the order they were added? This isn't great from a usability point of view and would fast become frustrating when managing larger domain whitelists.

[2016-11-30 10:10] ralish opened #1005 "Overhaul of User Filter Settings page"
The **User Filter Settings** tab in **Privacy Badger Options** can become barely functional after extended usage of the extension as the number of *tracking domains* continues to increase. Testing on Chrome 64-bit v54.0.2840.99 m on Windows 10.

Major concerns include:

**Performance**
The number of *tracking domains* continues to grow and at the time of writing is 3694 on my system. These are all

[2016-11-30 16:47] ghostwords commented on #809
I have trouble reproducing ... Could you share how to get Privacy Badger to start blocking algolia domains?

[2016-11-30 21:54] cooperq opened #1008 ""Show count of blocked items" unchecked by default"
The "show count of blocked items" setting (under general settings) is unchecked by default even though it is enabled by default. We should fix this.

This might be a good task for @zebesta

[2016-11-30 21:55] cooperq commented on #121
Fixed by #982

[2016-11-30 21:55] #121 closed

[2016-11-30 21:56] cooperq opened #1009 "Run selenium tests in firefox and chrome"
Right now the selenium tests run only in chrome, all of the tests should run in firefox as well so we can make sure we are not breaking either browser.

[2016-11-30 22:02] cooperq opened #1010 "block third party web socket requests"
We should block third party web socket requests as they can be used for tracking. Perhaps this should only be for cookieblocked domains.

[2016-11-30 22:04] cooperq opened #1011 "Option to cookieblock trackers by default"
It might be a nice feature to be able to have the default setting for detected trackers to cookie block them instead of allowing them until we see them three times.

This should be off by default but have a setting in the options menu.

[2016-11-30 22:14] cooperq commented on #1011
This might be a fun but more complicated task for @zebesta if you are interested. or @alexristich if you are interested.

[2016-12-01 00:29] ralish commented on #1004
Fixed in upcoming release thanks to @zebesta.

[2016-12-01 00:29] #1004 closed

[2016-12-01 02:56] ghajini commented on #1001
@cooperq sort out this issue

[2016-12-01 03:09] alexristich commented on #1001
@ghajini I gave this page a try and it seems to be working properly for me, though it's entirely possible it's due to the difference in our sets of trackers. Would you try clicking the "Disable Privacy Badger for This Site" button and seeing if you get the same issue? Then re-enable Privacy Badger and compare the results. This should hopefully make it clearer whether it's caused by a site Privacy

[2016-12-01 06:46] terrorist96 opened #1014 "toledoblade.com slideshow broken"
http://www.toledoblade.com/State/2016/11/30/Calls-renewed-for-concealed-carry-on-campuses-after-Ohio-State-attack.html

The following need to be moved to yellow to fix the slideshow images at top:
`securepubads.g.doubleclick.net`, `www.googletagservices.com`, and `api.youneeq.ca`

[2016-12-01 13:12] asurak commented on #809
Have not been able to reliably reproduce the issue. Is there any debug information I can get for your from the extension at the moment of blocking?

[2016-12-01 19:07] terrorist96 opened #1015 "amazonaws.com breaks elements"
http://www.patheos.com/

`css.patheos.com.s3.amazonaws.com` blocks banner logo and drop down arrow images.
`js.patheos.com.s3.amazonaws.com` breaks slideshow element.

[2016-12-01 19:20] ghostwords commented on #1015
Hello! How do you come across incorrectly blocked CDNs? Could you provide the steps needed to reproduce the problem?

[2016-12-01 19:24] terrorist96 commented on #1015
Hi! Are you asking how I found this problem? Simply by visiting the site and noticing some elements were broken/not loading. Then I disable some extensions to pinpoint the problem. The two mentioned "trackers" are blocked by default (red) on my machine. Moving them to yellow fixes the problem.

[2016-12-01 21:56] ghostwords commented on #1015
I'm just wondering how PB decided to block `amazonaws.com`, what the sequence of pages was.

If it's not too much trouble, could you visit `chrome://extensions/`, enable "Developer mode", click on "Inspect views: background page" for Privacy Badger, input the following into the console, and share what gets output, if it's not sensitive:
[code]

[2016-12-01 22:00] terrorist96 commented on #1015
I'm willing to email it to you, but not post it here publicly.

[2016-12-01 22:41] alexristich opened #1017 "Add placeholder for whitelisting domains so users know '*.x.com' blocks all subdomains"
Not currently present in the text on the `Whitelisted domains` tab on the Options page.

[2016-12-01 22:42] ghostwords commented on #1015
You can find it here:  https://api.github.com/repos/EFForg/privacybadgerchrome/git/commits/68a8f6a3bb21b76a1af482e45041d4d75332f747

[2016-12-01 22:42] #1017 closed

[2016-12-01 22:57] terrorist96 commented on #1015
Got it, thanks!

[2016-12-02 14:22] ghostwords commented on #1015
If you visit Privacy Badger's options page, and search domains for "s3.amazonaws.com", is "s3.amazonaws.com" itself marked to be blocked?

[2016-12-02 16:39] terrorist96 commented on #1015
It is set to yellow.
Side note: the options page is incredibly sluggish for me. There's over 7000 listings and trying to do anything on that page is torturous.

Here's a screenshot:
![capture](https://cloud.githubusercontent.com/assets/12802056/20842022/fc03084c-b883-11e6-9334-ab05622f5934.PNG)

[2016-12-02 16:41] terrorist96 commented on #1015
Also, if a domain is too long, hovering over it will not display the full name. For example, the last one in that list, `static.politifact.com.s3.am...`

[2016-12-02 17:21] ghostwords commented on #1015
Please see https://github.com/EFForg/privacybadgerchrome/issues/1005 for options page performance issues.

[2016-12-02 17:27] terrorist96 commented on #1005
I fully agree. My page shows over 7000 domains. It's unbearable.

[2016-12-02 17:32] ghajini opened #1018 "issue"
www.chicagotribune.com
each time i load this website ,this site loads different ads,though logger doesn't show ad trackers...but ads are loaded..
go to chicagotribune.com
after loading reload website,ad will appear  on upper side
go to story of website,again it loads ads,,,when hovered over ads ,it show these are from googleadservices.com, doublleclick,net but slider doesn't show these entries....

[2016-12-02 19:10] alexristich commented on #1005
Thanks for the report of this. You're right, it does get quite slow with a lot of domains. I'm going to start taking a closer look into this to see where the major performance hits are occurring, and will see if there are any minor tweaks we can make for the Privacy Badger 2.0 that would improve this. If not, I'm sure we can squeeze it in to the 2.1 release!

[2016-12-02 19:18] cowlicks commented on #1005
I would prefer infinite-load-on-scroll to pagination. This would also avoid the performance hit from loading every blocked resource right when you open the page.

[2016-12-02 19:22] ghostwords opened #1019 "Add heuristic effectiveness tests"
Would be really good to start collecting metrics on Privacy Badger's effectiveness to help verify any changes to the heuristic.

Proposal: Use Selenium to statefully drive Privacy Badger across thousands of websites, collect the findings. Create a reporting UI to compare one set of findings to another set.

[2016-12-02 21:53] cooperq commented on #1005
That was my suggestion as well! @cowlicks is this something you can whip
out?

[2016-12-03 02:04] cowlicks commented on #1005
@cooperq I can take a look tomorrow if that is okay with @alexristich

[2016-12-03 03:15] alexristich commented on #1005
@cowlicks Totally! I'm looking to be a little strapped for time over the next several days, so if you have some time to look into this as well (and possibly even make some progress on it) that'd be awesome :)

[2016-12-04 18:41] terrorist96 opened #1022 "truste.com image blocked"
https://www.coursehero.com

`privacy-policy.truste.com` blocks image at bottom.

[2016-12-05 04:54] terrorist96 opened #1023 "api.tegna-tv.com breaks video"
http://www.wusa9.com/news/local/dc/suspect-carrying-assault-rifle-arrested-near-comet-ping-pong/362524922

`api.tegna-tv.com` breaks video.

[2016-12-05 17:10] terrorist96 opened #1024 "*.wix.com break wix sites"
Example:
http://www.gmoskee.net/

`psycho67.wix.com` blocks the site from loading.

[2016-12-05 17:47] terrorist96 opened #1025 "anvato.net breaks video"
http://wwlp.com/2016/07/21/gun-rights-groups-protesting-healeys-crackdown-on-copycat-weapons/

`mcp-media10.cdn.anvato.net` and `mcp-media11.cdn.anvato.net` break the video and thumbnail respectively. Can `*.cdn.anvato.net` be added to the cookieblock list?

[2016-12-05 21:36] cooperq commented on #1008
fixed by @zebesta thanks!

[2016-12-05 21:36] #1008 closed

[2016-12-05 22:25] alexristich commented on #1005
Load on scroll seems to be doing wonders so far. It brings the load time to a consistent margin for users regardless of how many items are present in their `action_map`. Still, I think we can make further improvements for the 2.1 release. I did a bit of profiling, and `Parse HTML` for a single `<div>` tracker element takes around 15ms (though in some instances up to 30ms) and `Recalculate Style` t

[2016-12-06 01:37] cooperq opened #1026 "error reporting popup test fails mysteriously"
[test_error_button in the selenium popup tests](https://github.com/EFForg/privacybadgerchrome/blob/df3a7a567b5ee94511d77172130b66e74ad214eb/tests/selenium/popup_test.py#L179) fails for mysterious, race conditiony reasons starting with this commit: https://github.com/EFForg/privacybadgerchrome/commit/8b5e5259d6fdf41ec3c6402308227e6e1b9eb012. This test is disabled for now but it should instead be fi

[2016-12-06 19:53] #942 closed

[2016-12-06 20:00] cooperq commented on #987
Fixed by #1002

[2016-12-06 20:00] #987 closed

[2016-12-06 20:41] #1005 closed

[2016-12-06 22:34] alexristich commented on #1001
@ghajini Just following up on this one - would you be able to try the suggestion I noted above? This should be helpful in better understanding what's going on.

[2016-12-06 22:50] alexristich commented on #1018
I took a quick look into this though haven't been able to reproduce this one. I see the ads you're referring to when I turn Privacy Badger off, though when I turn it on they're prevented from loading (as the third parties that are serving them have been blocked). What is your current setting for doubleclick.net? Also, can you still reproduce this? If so, it would be interesting to see a screenshot

[2016-12-07 11:17] greenufo13 opened #1029 "Don't automatically block "ts.w.org" and "ps.w.org""
These two allow WordPress to display Theme and Plugin thumbnails in the "Add New" page of the Themes and Plugin pages. When they're blocked, the thumbnails don't display.

[2016-12-07 22:04] terrorist96 opened #1030 "jwplatform video broken"
http://mashable.com/2016/11/07/reborning-babies/#EIhpNz8Wiaqp

`content.jwplatform.com` breaks the video. Move to yellowlist.

[2016-12-08 05:10] terrorist96 opened #1031 "video.insider.foxnews.com breaks video"
http://rare.us/story/after-a-guest-on-his-show-compared-trump-to-hitler-and-then-accused-him-of-name-calling-tucker-carlson-cant-help-but-point-out-her-hypocrisy/

`video.insider.foxnews.com` needs to be moved from red to green to fix the video at the bottom of the article.

[2016-12-08 11:59] mailinglists35 opened #1032 "latest chrome store update crashes other extensions and PB crashes itself too"

[2016-12-08 13:50] Mappa commented on #1032
I might have a related problem. It is hard to know when OP doesn't provide any context.

I'm on Chromium Version 53.0.2785.143

My issue is:
Updated to latest version: 2016.12.7.2
Update blocked because of new requirements, like PB being able to administer downloads and have full control over webpages.
Could not find a changelog online showing this.
Activated PB after the update anyways.
Got an wa

[2016-12-08 15:29] truckingsim commented on #1032
Same problem as @Mappa

I'm on Chrome beta: 55.0.2883.75

The warning I got is:

This extension failed to redirect a network request to data:application/javascript;base64,KGZ1bmN0aW9uKCkgewoJdmFyIG5vb3BmbiA9IGZ1bmN0aW9uKCkgewoJCTsKCX07CgkvLwoJdmFyIEdhcSA9IGZ1bmN0aW9uKCkgewoJCTsKCX07CglHYXEucHJvdG90eXBlLk5hID0gbm9vcGZuOwoJR2FxLnByb3RvdHlwZS5PID0gbm9vcGZuOwoJR2FxLnByb3RvdHlwZS5TYSA9IG5vb3BmbjsKCUdhc

[2016-12-08 15:37] cooperq commented on #1032
@Mappa good point I have added a changelog to the chrome web store!

This problem is because ublock and privacy badger are both replacing tracking scripts now and due to the way that chrome is written only one of them can do the redirect so the other one gets this warning. Not really sure we can do much about this.

[2016-12-08 15:38] cooperq commented on #1032
@mailinglists35 can you please provide more detail about the issue you are seeing?

[2016-12-08 15:39] cooperq commented on #1015
I think that the issue here is that com.s3.amazonaws.org needs to be added to the public suffix list

[2016-12-08 15:44] truckingsim commented on #1032
@cooperq I get you put a wontfix label on this, but are you just going to say you can't use ublock and privacy badger at the same time?  I imagine MANY people do this.  It feels wrong to add a new feature that just breaks an extensions that a lot of people want to use with privacy badger.  Is there really nothing we can do except decide whether we want privacy badger or ublock?

[2016-12-08 15:50] cooperq commented on #1032
@truckingsim you can use them both at the same time! In this case they are both trying to do the same thing but only one of them can do it. And then thanks to bad chrome UI you get a warning. But the effect is still the same.

[2016-12-08 15:53] ghostwords commented on #1032
Hello! Actually, there is no real issue here, nothing is broken, it's just a pointless warning that Chrome needlessly bugs extension users with. However given that this is an annoyance to users, Privacy Badger should try to avoid this warning as much as possible. In this case, PB's redirect scripts are based on uBlock's in the first place, so we might as well tweak them to match uBlock's exactly t

[2016-12-08 15:59] Mappa commented on #1032
@ghostwords Yes, uBlock does not crash or cripple the browser, so the re-naming of the title is appropriate. It is what chromium says it is - a warning.

I did not know it was based off of uBlock. I will try just disabling uBlock for some time and see if PB can fill in the shoes, so to speak.

[2016-12-08 16:00] ghostwords commented on #1032
@Mappa No need to disable uBlock. Again, there is no real problem using both.

[2016-12-08 16:05] Mappa commented on #1032
@ghostwords Okay, thanks. Anyway, if one suffice, why have two :)

@cooperq Thanks for the changelog and permission requirements description. Always appreciate when software is upfront about such things.

[2016-12-08 16:22] cooperq commented on #1024
Thanks! Fixed.

[2016-12-08 16:22] #1024 closed

[2016-12-08 16:25] cooperq commented on #1023
fixed, thanks!

[2016-12-08 16:27] cooperq commented on #1022
fixed, thanks!

[2016-12-08 16:27] #1022 closed

[2016-12-08 16:27] cooperq commented on #1014
Wontfix. thanks!

[2016-12-08 16:27] #1014 closed

[2016-12-08 16:29] cooperq commented on #999
wontfix thanks

[2016-12-08 16:30] cooperq commented on #995
fixed. Thanks!

[2016-12-08 16:30] #995 closed

[2016-12-08 16:31] cooperq commented on #993
might be a good candidate for a script surrogate. @ghostwords

[2016-12-08 16:38] cooperq commented on #992
fixed, thanks!

[2016-12-08 16:38] #992 closed

[2016-12-08 16:39] cooperq commented on #991
fixed thanks!

[2016-12-08 16:39] #991 closed

[2016-12-08 16:40] cooperq commented on #989
fixed, thanks!

[2016-12-08 16:40] #989 closed

[2016-12-08 16:43] cooperq commented on #985
fixed, thanks!

[2016-12-08 16:43] #985 closed

[2016-12-08 16:44] cooperq commented on #979
fixed, thanks!

[2016-12-08 16:44] #979 closed

[2016-12-08 16:45] cooperq commented on #978
fixed, thanks!

[2016-12-08 16:45] #978 closed

[2016-12-08 16:49] cooperq commented on #974
fixed, thanks!

[2016-12-08 16:49] #974 closed

[2016-12-08 16:54] cooperq commented on #809
Hi @asurak it looks like you have the same issue where you have changed the domain name in the dnt policy and not posted it verbaitm. Please try reposting the verbatim copy!

[2016-12-08 16:59] cooperq commented on #1029
fixed, thanks!

[2016-12-08 16:59] #1029 closed

[2016-12-08 17:01] cooperq commented on #1018
also can't reproduce.

[2016-12-08 17:01] #1018 closed

[2016-12-08 17:07] cooperq commented on #1025
fixed, thanks!

[2016-12-08 17:07] #1025 closed

[2016-12-08 17:10] cooperq commented on #996
fixed. Thanks!

[2016-12-08 17:10] #996 closed

[2016-12-08 17:10] cooperq commented on #771
Depends on #1019

[2016-12-08 17:12] cooperq commented on #965
@Thorsten-Sick sorry for the delay on getting back to you about this! We can put vk.me on the cookie block list without adding all of this extra infrastructure. Are you planning to ship a more comprehensive seed file with avira browser?

[2016-12-08 17:13] cooperq commented on #952
fixed, thanks!

[2016-12-08 17:13] #952 closed

[2016-12-08 17:14] cooperq commented on #939
fixed, thanks!

[2016-12-08 17:14] #939 closed

[2016-12-08 18:43] alexristich opened #1036 "Adding 'download' permission causes extension to be disabled by default on update"
When adding a new permission, Chrome disables the extension by default and alerts the user again of all the permissions that are requested, regardless of the fact that the user has previously approved these permissions.

The download feature recently added which allows users to export their user data has caused this issue to occur.

[2016-12-08 22:39] terrorist96 commented on #1014
#400 ?

[2016-12-08 22:40] terrorist96 commented on #999
#400 ?

[2016-12-08 22:40] terrorist96 commented on #993
#400

[2016-12-08 22:43] terrorist96 commented on #634
#400 ?

[2016-12-08 22:43] terrorist96 commented on #713
#400 ?

[2016-12-09 01:13] terrorist96 opened #1038 "fast.wistia.com breaks video"
http://study.com/academy/lesson/what-is-a-cell-body-definition-function-types.html

`fast.wistia.com` needs to be moved from yellow to green to fix the video.

[2016-12-09 08:07] Thorsten-Sick commented on #965
NEW: PB is not active in Scout default mode anymore (our own Anti-Tracker based on lists covers default alone). So the emergency is de-fused now....

I think: If we could find a way how we can contribute fixes to broken pages in the upstream PB we would cover the needs of more people. Scout users or non-Scout users. You would benefit from our bugfixes, we as Avira obviously would benefit from your

[2016-12-09 08:36] asurak commented on #809
I'm afraid that is not the case this time:
[code]

![privacy-badger-producthunt](https://cloud.githubusercontent.com/assets/313744/21042630/f323c166-bdf2-11e6-866d-cb327c001182.png)

[2016-12-09 09:21] asurak commented on #809
Ah, seems like there was one more file that is was checking, which was not really obvious - `https://algolianet.com/.well-known/dnt-policy.txt` -  since it shows blocking per sub-domain, not per domain

[2016-12-09 10:02] asurak commented on #809
We're not hosting the DNT file for `algolia.net` because nothing is hosted on `https://algolia.net/*` and we don't even have a certificate for it, everything is `https://*.algolia.net/*`. None of the calls to the domain is having cookies either. Why is it getting blocked? Not hosting the DNT file does not seem a good enough reason.

[2016-12-09 17:26] ghajini commented on #1001
Followed your instructions, still the same

[2016-12-09 20:22] cooperq commented on #1001
@ghajini did the page still freeze when privacy badger was disabled?

[2016-12-09 22:12] cooperq commented on #965
Glad to hear the crisis is averted for now, I would still like to get PB so that it's not constantly breaking CDNs and it would be great to have assistance from you guys in this. I'm a little wary of the pre-seed file solution because I feel like it could look too much like we are shipping a black list with privacy badger which is something we most definitely do not want to do. We can already add

[2016-12-09 22:13] cooperq commented on #809
@asurak can you give me some examples of sites that embed algolianet.com as a third party so I can try to reproduce this?

[2016-12-10 01:55] asurak commented on #809
producthunt.com

Le ven. 9 déc. 2016 à 23:14, Cooper Quintin <notifications@github.com> a
écrit :

[2016-12-10 02:45] ghajini commented on #1001
Nope

[2016-12-10 08:38] alexristich commented on #1001
Thanks for the update.

I went ahead and took another look into this and this time experienced the issue you referred to in the original report. I then disabled Privacy Badger for that site, but still experienced it. I then disabled Privacy Badger altogether, but still experienced the issue. I also opened it in an incognito window with all extensions and plugins disabled, and still experienced the

[2016-12-10 08:38] #1001 closed

[2016-12-10 09:58] ghajini commented on #1001
screen recorded with privacy badger disabled...site works...don't lie
you can close thread...
https://www.dropbox.com/s/qggg20i2igqbjmj/9b9047f5-32df-4757-yb6a-e342c3443715.webm?dl=0

[2016-12-10 19:53] terrorist96 commented on #939
http://www.dmv.org/fl-florida/smog-check.php

[2016-12-10 21:15] alexristich commented on #1001
Checked again just to be sure, and it's back to the original state for me, where the site doesn't lock up in either case. I still can't detect any difference in terms of CPU usage or page slowness when Privacy Badger is enabled or disabled, so I'm adding the label `Can not reproduce` to this issue. If you find this same issue on another site or another page I'd be happy to give another look into t

[2016-12-11 02:33] terrorist96 opened #1041 "ssl.google-analytics.com breaks functionality"
https://www.google.com/webmasters/tools/home?hl=en

`ssl.google-analytics.com` blocks the help button in the top right. You have to be signed in to reproduce.

[2016-12-11 15:38] ghajini opened #1042 "vuukle.com and media2.intoday.in"
@alexristich and @cooperq
broken on
http://indiatoday.intoday.in/technology/story/jio-vs-others-airtel-vodafone-idea-hit-out-at-jio-with-free-data-calls-offers/1/831632.html

blocking vuukle.com automatically to red prevents loading of comments on that site
![screenshot 69](https://cloud.githubusercontent.com/assets/20338483/21081104/d5736230-bfe5-11e6-99a4-f085931468f4.png)

moving slider of  vuu

[2016-12-11 18:14] tmcw opened #1043 "Icons in privacybadger appear blurry on hidpi screens"
![image](https://cloud.githubusercontent.com/assets/32314/21082144/3eceae94-bfa3-11e6-8033-f659ae66d204.png)

As may or may not be visible in the provided screenshot, the icons visible in privacy badger's UI - the gear, cookie, checkmark, and ⃠, appear blurry if you're using a fancy monitor. This isn't high priority relative to functional improvements, but it is something I'd be happy to contribut

[2016-12-11 19:23] ghajini commented on #1042
also this one
www.businesstoday.in

blocking one of element
`media2.intoday.in`
completely(automatically by privacy badger) breaks site
![screenshot 70](https://cloud.githubusercontent.com/assets/20338483/21082580/42885ae2-c004-11e6-807f-1956a8b4c7a2.png)

cookie blocking
`media2.intoday.in`
 restores site functionality
![screenshot 71](https://cloud.githubusercontent.com/assets/20338483/21082590/

[2016-12-11 20:24] ghajini commented on #1018
@alexristich
same issue happen here also...here googleadservices.com ads are loaded though they are blocked as per pb log
http://news.nationalpost.com/news/canada/canadian-politics/unheralded-committee-seeks-monumental-change-to-the-way-first-nations-get-billions-in-federal-funds

here also googleadservices.com is blocked by pb as per logger of pb
![screenshot 75](https://cloud.githubusercontent.c

[2016-12-12 07:48] Thorsten-Sick commented on #965
NEW: PB is not active in Scout default mode any more (our own Anti-Tracker based on lists covers default alone). So the emergency is de-fused now....

I think: If we could find a way how we can contribute fixes to broken pages in the upstream PB we would cover the needs of more people. Scout users or non-Scout users. You would benefit from our bugfixes, we as Avira obviously would benefit from you

[2016-12-12 11:12] asurak commented on #809
What can we do? This has absolutely disastrous impact on our business. The `algolianet.com` domain is still being blocked on `https://www.ohmygift.co.uk/catalogsearch/result/?q=christmas` as a potential tracker for absolutely no reason. We have customers churning because of non working search that we're unable to prevent or explain.

[2016-12-12 16:01] ghajini commented on #1018
Pb not working properly anymore, uninstalling
Breaking websites😢

[2016-12-12 18:53] cooperq commented on #1041
let me know if you still have this issue once you are upgraded to 2016.12.8

[2016-12-12 18:54] terrorist96 commented on #1041
Has it been pushed out yet? Forcing an update still leaves me with the Sept version.

[2016-12-12 18:55] cooperq commented on #965
@Thorsten-Sick did you mean to repost the same comment?

[2016-12-12 18:59] cooperq commented on #1041
You should get it some time tomorrow.

On 12/12/2016 10:54 AM, terrorist96 wrote:

[2016-12-12 19:04] cooperq commented on #809
@asurak I am having trouble reproducing this problem. Can you send me as many websites as possible that are using algolianet? I checked producthunt and ohmygift.co.uk and both are correctly marking *.algolia.net as DNT compliant.

[2016-12-12 19:29] ghajini opened #1044 "Nanovisor loading potential tracking around privacy badger"
@alexristich
this is in relation to
https://github.com/EFForg/privacybadger/issues/1018
comment no 4 of above thread
firstly googleadservices or doubleclick ads are loaded though logger doesn't show entry of that....
after right click> inspect page>console ,page reloads and all ads are gone????
why they are not blocked previously(before reaching inspect page>console)...
is it like the way pb works

[2016-12-12 19:31] asurak commented on #809
This is what I see the badger configured for itself. Are any algolia domains blocked in some centralised rules that the badger is getting? algolia.net does not serve any content and it does not seem to be manually possible to block it from the UI either.

![screen shot 2016-12-12 at 20 29 01](https://cloud.githubusercontent.com/assets/313744/21113378/abdac25a-c0a9-11e6-90af-8ea6b26f9851.png)

[2016-12-12 19:39] ghostwords commented on #634
The login form itself is powered by Gigya ... I don't think surrogates can help here.

[2016-12-12 19:57] terrorist96 commented on #1044
I can confirm that I do see ads on both nationalpost and chicagotribune, even with PB, ABP, Ghostery all installed.

[2016-12-12 19:59] cooperq commented on #809
Very strange indeed. All algolia.net algolianet.com domains are correctly shown as having the DNT policy for me.
Can you start a new browser profile with privacy badger and browse around to a few sites with aloglia and see if you can reproduce the issue?

[2016-12-12 20:02] cooperq commented on #1044
Well then this confirms that they are either using first party ads or
have some adblocker circumvention. (likely web sockets)

On 12/12/2016 11:57 AM, terrorist96 wrote:

[2016-12-12 20:04] ghostwords commented on #1014
Fixed by #1039 (Youneeq).

[2016-12-12 20:05] ghajini commented on #1044
@cooperq
After clicking Ctrl+shift+J
Reload of page occur automatically
All ads are gone and pb blocks those ads....
It requires development console to trigger to hide that ads

[2016-12-12 20:35] ghostwords commented on #1044
Looks like it's using a product called [Nanovisor](https://www.instartlogic.com/technology/end-to-end-platform/nanovisor). Also used by `weather.com`, `nasdaq.com`, `boston.com`, ...

[2016-12-12 21:15] asurak commented on #809
When I start a new profile, I cannot reproduce the issue. Although I can clean my profile, what about those that don't?

[2016-12-13 01:53] #823 closed

[2016-12-13 01:54] #1036 closed

[2016-12-13 06:06] terrorist96 commented on #1023
@cooperq I got the new update. `api.tegna-tv.com` is still defaulting to red for me on the above site.

[2016-12-13 06:09] terrorist96 commented on #1023
Looking at the cookieblocklist file, you added `tegna-media.com` not `tegna-tv.com`

[2016-12-13 06:16] terrorist96 commented on #999
Sorry to say, but the images still don't load unless I move cdn(s).gigya.com from red to yellow. @ghostwords

[2016-12-13 06:21] terrorist96 opened #1046 "cdn.prizma.tv"
http://abc30.com/news/fresno-law-enforcement-leaders-speak-out-against-proposed-gun-control-measure/1342975/#videoplayer

`cdn.prizma.tv` needs to be moved to yellow to fix video.

[2016-12-13 06:26] terrorist96 commented on #1041
@cooperq still broken. :disappointed:

[2016-12-13 06:28] terrorist96 commented on #823
@ghostwords still need to move gigya to yellow to fix it.

[2016-12-13 06:35] terrorist96 commented on #822
@ghostwords

[2016-12-13 06:37] terrorist96 commented on #1023
#952

[2016-12-13 06:59] terrorist96 commented on #993
@ghostwords still broken for me. :disappointed:

[2016-12-13 07:06] terrorist96 commented on #1014
@ghostwords same situation here.

[2016-12-13 07:07] terrorist96 commented on #1041
@ghostwords

[2016-12-13 08:42] Thorsten-Sick commented on #965
No, we currently ship PB directly from the Chrome Web Store. We do not change anything and do not plan to do so in the future.
Should we open an issue for all broken pages reported to us ?

[2016-12-13 08:46] Thorsten-Sick commented on #965
@cooperq : I did not mean to re-post. Something cached and did not re-load, it seems. Sorry

[2016-12-13 10:21] mailinglists35 commented on #1032
@cooperq
step1 update PB from chrome store
step2 receive chrome popup about PB has crashed AND about crashing other extensions
step 3 disable PB
step 4 all other extensions work ok after disabling the updated PB

[2016-12-13 10:23] mailinglists35 commented on #1032
i didn't get warnings. i got crash of pb and this crash triggered crash of other extensions

[2016-12-13 10:26] mailinglists35 commented on #1032
updated to latest release, still crashes on load

[2016-12-13 10:26] mailinglists35 commented on #1032
![image](https://cloud.githubusercontent.com/assets/2054302/21136716/c62e5778-c137-11e6-974a-f18d7f9c3e2e.png)

[2016-12-13 10:27] mailinglists35 commented on #1032
the second i loaded the extension from folder

[2016-12-13 10:28] mailinglists35 commented on #1032
please reopen and change back the title, my issue is about PB crashing other extensions and itself, not about warnings

[2016-12-13 10:44] m0lz opened #1047 "Privacy Badger has crashed Click this balloon to reload the extension"
Privacy Badger Version 2016.12.8

Browser = http://chromium.woolyss.com/
Nik wpo cfg all-codecs stable 64-bit
No sync • No WebRTC • No Widevine • 55.0.2883.87 (423768) • Friday, 9 Dec 2016

Problem = Every time I click the Baloon to reload Privacy Badger it crashes again and again and again

I have uninstalled it in case of file corruption, then re-installed the latest version again .. No joy the

[2016-12-13 14:48] charakterziffer opened #1048 "Version 2016.12.8’s panel gets cut off in Firefox menu"
I placed the privacy badger amongst the icons in my Firefox menu on the top right. When I click it there the other icons slide to left and a panel opens. Since the update today this panel does no longer fit into the given space but is cut on the right side. It’s not possible to operate the sliders then.

![pb-fixed-width](https://cloud.githubusercontent.com/assets/7194876/21144158/e8a4cae6-c149-11

[2016-12-13 16:04] PeterSteinberg opened #1049 "firefox lockup after update."
I just updated to the latest version (2016.12.8.1) and it locks up Firefox (51.0b6 32-bit) on Windows 7.

[2016-12-13 16:38] cooperq commented on #1049
Do you see any messages in the browser console before it locks up? What
happens when you restart firefox?

On 12/13/2016 08:04 AM, PeterSteinberg wrote:

[2016-12-13 16:43] PeterSteinberg commented on #1049
No, it just went to “installing the update” and froze completely at the end.

Killed the firefox process and restarted it and firefox was hung during startup before displaying anything on the screen.

After a couple of minutes I killed the processes again, restarted in safe mode, disabled the privacybadger plugin and restarted and everything was fine.

Reverted back to  1.9.2 and everything works

[2016-12-13 16:46] ufkub opened #1050 "Zimbra folder view not visible with PrivacyBadger installed"
In the Zimbra Webmail client, the folders on the left side are not visible anymore when PrivacyBadger is active.

This is also visible on a Zimbra demo account like https://www.grmail.ca/en/demo.
See attached screenshots.

* PrivacyBadger installed, but deactivated on the Firefox Extension page: OK. Folders are shown.
* PrivacyBadger installed and activated: Bad. Folders not visible.
* PrivacyBadg

[2016-12-13 16:48] ufkub commented on #1050
Additionally, the following warnings are written to the command line. Is all that from PrivacyBadger?

1481646585491	addons.webextension.jid1-MnnxcxisBPnSXQ-eff@jetpack	WARN	Loading extension 'jid1-MnnxcxisBPnSXQ-eff@jetpack': Reading manifest: Error processing permissions.9: Unknown permission "privacy"
1481646585495	addons.webextension.jid1-MnnxcxisBPnSXQ-eff@jetpack	WARN	Loading extension 'jid1

[2016-12-13 17:31] terrorist96 commented on #823
I have the December 8 update though.

![capture](https://cloud.githubusercontent.com/assets/12802056/21151272/dbd1380a-c12f-11e6-8d4f-245faa3ca8b3.PNG)

Also, the new update is causing conflicts with Ghostery.

`Warning:
This extension failed to redirect a network request to data:application/javascript;base64,dmFyIHVyY2hpblRyYWNrZXI9ZnVuY3Rpb24oKXt9LF9nYXE9e3B1c2g6ZnVuY3Rpb24oKXt0cnkge2lmKGFyZ3VtZ

[2016-12-13 17:43] ghostwords commented on #823
Right, so this and all the other [recent fixes](https://github.com/EFForg/privacybadger/compare/release-2016.12.8...master) will be in the next update.

[2016-12-13 18:08] ghostwords commented on #823
As far as the redirect conflict, please see https://github.com/EFForg/privacybadger/issues/1032#issuecomment-265774776. I updated our Google Analytics surrogate (the encoded string you pasted) to exactly match uBlock's, but Ghostery uses yet another definition.

[2016-12-13 18:10] ghostwords commented on #1032
Hi @mailinglists35, you should open a new issue as this one is about something else, as you pointed out.

[2016-12-13 18:18] groovecoder commented on #1048
I'll look into this to see if we can do something to improve the display in the tiny space of the settings pop-up.

[2016-12-13 18:24] ghostwords commented on #1041
Ah, this is `analytics.js`, not `ga.js`. I'll add `analytics.js` to fix.

[2016-12-13 18:24] groovecoder commented on #1047
It looks like this version is built without WebRTC support which causes this.

[2016-12-13 18:27] groovecoder commented on #1049
FWIW, a fresh install of PB 2016.12.8 on Firefox 51.0b6 (64-bit) on Mac OS X 10.11.6 works for me. I'll see if I can get access to a Windows 7 machine at the office tomorrow.

[2016-12-13 18:33] groovecoder commented on #1050
With PB enabled, the site also throws this error:
[code]

[2016-12-13 18:39] ghostwords commented on #822
This one requires a site-level surrogate, in order to counter an inline script. Similar to #1044 in this way.

[2016-12-13 18:39] cooperq commented on #823
Yep nothing we can do about that other than file a bug with chrome for their bad UI

[2016-12-13 18:59] modestindustries commented on #1049
Saw the same issue, Firefox 50.0.2 on Mac OS X 10.11.6, PB 2016.12.8. Removed the add-on, restarted FF, reinstalled PB 2016.12.8 and it seems to be stable. Symptoms include stalling, pinned CPU, inability to reach any websites.

[2016-12-13 19:05] ghostwords commented on #713
I believe this is a job for #910.

[2016-12-13 19:07] jawz101 opened #1052 "suggestions for src/multiDomainFirstParties.js"
Taken from Lastpass Equivalent Domains and formatted for PrivacyBadger, fyi

["ameritrade.com","tdameritrade.com"]
["bankofamerica.com","bofa.com","mbna.com","usecfo.com"]
["sprint.com","sprintpcs.com","nextel.com"]
["youtube.com","google.com","gmail.com"]
["apple.com","icloud.com"]
["wellsfargo.com","wf.com"]
["southerncompany.com","southernco.com"]
["mymerrill.com","ml.com","merrilledge.com"]
["

[2016-12-13 19:14] jawz101 commented on #1052
I also don't know why redditenhancementsuite.com and reddit.com are equivalent on your list but maybe I'm missing something.  And redditmedia has never needed to know anything about me.  I just block scripts for that domain with NoScript so I don't know why it's an equivalent.

Regardless, these should be good, I would imagine, considering Lastpass uses this to drive login credentials amongst sing

[2016-12-13 19:18] groovecoder commented on #1050
`ERROR.captureStackTrace` is a v8-only method. [Babel has a solid polyfill](https://github.com/babel/babel/commit/719d23eb3b94598a0ba41f339b52d54d2395b99f), and there's an [error-polyfill](https://www.npmjs.com/package/error-polyfill) npm module.

But this error is being thrown by the zimbra.gr-web.biz resource? Still digging to see if it's Zimbra's problem or PB's problem.

[2016-12-13 19:21] alexristich commented on #1047
I gave this a quick try on version 55.0.2883.87 and it seems to work out of the box. It seems the most likely scenario is related to WebRTC being disabled, as @groovecoder notes above. Privacy Badger has built-in protections against WebRTC IP address leakage. There are four modes in the WebRTC specification (https://github.com/EFForg/privacybadger/pull/969#issuecomment-255614654); Privacy Badger u

[2016-12-13 19:27] AaronLasseigne commented on #1049
I had the exact same setup as @modestindustries and re-installing also fixed it for me.

For anyone experiencing this on OS X you can try:
1.  hold option and launch Firefox
2. select safe mode
3. open your add-ons
4. remove PB
5. quit and launch FF normally
6. install PB

[2016-12-13 19:37] groovecoder commented on #1050
Filed a PR that fixes the `fingerprinting.js` content script from breaking Firefox, but it doesn't implement the full `captureStackTrace` functionality. That may be a follow-up issue?

[2016-12-13 19:38] davidsm commented on #1049
I had the same issue on Ubuntu 14.04, Firefox 51.1.0.

Reinstalling Privacy Badger sort of solved it for me as well.

I say sort of, because while it's not stalling Firefox anymore, it's allowing everything instead, including domains it has identified as tracking me, which kind of makes it a bit useless.

[2016-12-13 19:45] tl87 commented on #1048
![privacy badger is acting strange](https://cloud.githubusercontent.com/assets/5989314/21156168/177be518-c175-11e6-8ef2-3b47f82ac371.png)
@charakterziffer, you can atleast see more then I can :-(

[2016-12-13 19:49] groovecoder commented on #977
This is fixed now.

[2016-12-13 19:49] #977 closed

[2016-12-13 19:50] groovecoder commented on #967
This is done. This repo is now the single WebExtensions code-base for both Firefox and Chrome.

[2016-12-13 19:51] groovecoder commented on #1049
Since those reporting are updating, I wonder if this only affects users with a large `LEGACY` object that has to be migrated into the WebExtensions storage?

[2016-12-13 19:58] alexristich commented on #967
Ah, indeed it is! This is one of the ones that I batch labeled; probably should have looked at it first :) Thanks!

[2016-12-13 19:58] #967 closed

[2016-12-13 20:21] cooperq commented on #1049
Yea that is kinda what im thinking too.  I'll try to do some tests today and see if I can't make it smoother.
@davidsm an unfortunate side effect of uninstalling privacy badger is that this deletes all the data. So privacy badger forgets what was tracking you and has to re-learn.

On December 13, 2016 11:51:51 AM PST, luke crouch <notifications@github.com> wrote:

--
Sent from my Android device wi

[2016-12-13 20:29] KidPluto commented on #919
Looks fixed, should be closed.  Thanks.

[2016-12-13 20:34] alexristich commented on #919
Whoops, thanks for pointing this out! Will close it now :)

[2016-12-13 20:34] #919 closed

[2016-12-13 20:42] KidPluto commented on #880
I see "https://www.lidl.de/", and this "https://www.lidl.de/de/newsletter" now.  I don't see any "*newsletter*" in the selections.  Can't reproduce the issue.  Thanks.

[2016-12-13 20:43] KidPluto commented on #877
Not able to access "http://ondemand-ww.wdr.de/", getting 403.  Not able to reproduce.  Thanks.

[2016-12-13 20:44] ghajini opened #1054 "yellowlist webroot antivirus"
as the name suggests,please whiteliste webroot antivirus..
webroot has web browser extension. safety rankings on google,chrome are blacklisted as red...nove slider to green
please whiteliste to prevent conflict with overall functionality of antivirus

Privacy Badger 2016.12.8

safety rakings broken due to pb has choosen antivirus as tracker
![screenshot 82](https://cloud.githubusercontent.com/asse

[2016-12-13 20:49] KidPluto commented on #876
This "st.bahn.de" is not online.  This "https://www.touchandtravel.de/" comes up fine.  The "Anmelden" (login) button works.  Not able to reproduce.  Thanks.

[2016-12-13 20:53] KidPluto commented on #831
"files.barcelonastream.com" gives me a 403.  The other two links work for me.  Thanks.

[2016-12-13 20:57] terrorist96 commented on #831
`files.barcelonastream.com` is the tracker that PB blocks on the two mentioned sites, not the site with the issue itself.

[2016-12-13 21:46] downeym opened #1055 "PB 2.0 on Firefox 50.0.2 (Linux) breaks IRCcloud.com"
As of the latest (newest) version of Privacy Badger (2.0), running on Firefox 50.0.2 (standard distributed with Fedora 25) causes IRCcloud.com to never get past its loading state after signing in.

Disabling the Add-On allows the site to load fine.

Interestingly, there are 0 items blocked, and even with the add-on "disabled for this site" (IRC Cloud) the page still doesn't load.

[2016-12-13 21:47] downeym commented on #1055
Oh, and I did try the uninstall-and-reinstall suggestion from other issues and Twitter, and sadly that didn't fix the problem.

[2016-12-13 21:53] ufkub commented on #1050
The bug is not related to Zimbra. I see a similar problem on http://en.chessbase.com/post/yasser-seirawan-on-magnus-carlsen-vs-sergey-karjakin_3.

* PrivacyBadger activated: Board window empty.
* PrivacyBadger deactivated: There's the expected chessboard.

![chessgame_privacybadger_activated](https://cloud.githubusercontent.com/assets/12187056/21160846/a96f9396-c186-11e6-88a2-52e913495a2f.png)
![c

[2016-12-13 22:05] ricardograca commented on #1049
I'm also seeing this issue. Does it mean that there is some kind of data update going on behind the scenes and I should just let it finish?

[2016-12-13 22:09] spinda commented on #1055
Experiencing the same issue; reinstalling doesn't fix it for me either.

https://gyazo.com/1f75c19d0265b06b9292fe5a2ce62966

Firefox Developer Edition 52.0a2 (2016-12-13)

[2016-12-13 22:12] jawz101 commented on #1019
Would this include Firefox for Android?

[2016-12-13 22:19] Artoria2e5 commented on #967
Is there any plan to submit to Windows' Edge extension repo though?

[2016-12-13 22:19] terrorist96 commented on #1030
http://www.globalresearch.ca/video-on-the-liberation-of-aleppo-defeat-of-al-qaeda-agreed-safe-withdrawal-of-al-qaeda-rebels-from-eastern-party-of-city/5562288

[2016-12-13 22:21] KidPluto commented on #704
I set "www.google-analytics.com" & "edge.quantserve.com" to blocked, the only ones showing up, and the page comes up fine.  I didn't and do anything on the page, like try and login for example.
More details needed.
Thanks.

[2016-12-13 22:22] etremel opened #1057 "Extension is "corrupted" and can't be repaired on Chrome"
I'm using Google Chrome 53.0.2785.101 on Ubuntu. Sometime last night, the Privacy Badger extension quietly stopped working, and today I saw that in chrome://extensions it is disabled (grayed out) with the red error text "This extension may have been corrupted." There's a "repair" button I can click, but it appears to do nothing; the extensions page refreshes and then Privacy Badger is displayed wi

[2016-12-13 22:23] mikelabonte commented on #1049
I'm getting these console warnings running in Firefox 50.0.2 on Windows 8.1:

1481667111400   addons.webextension.jid1-MnnxcxisBPnSXQ-eff@jetpack     WARN    Loading extension 'jid1-MnnxcxisBPnSXQ-eff@jetpack': Reading manifest: Error processing permissions.9: Unknown permission "privacy"
1481667111403   addons.webextension.jid1-MnnxcxisBPnSXQ-eff@jetpack     WARN    Loading extension 'jid1-Mnnxcx

[2016-12-13 22:24] KidPluto commented on #700
Able to reproduce.  All the content is there, but it is not pretty.  Thanks.

[2016-12-13 22:26] KidPluto commented on #691
This one looks like it has been completed.  Thanks.

[2016-12-13 22:33] KidPluto commented on #681
I understand the issue, but don't understand the enhancement request.  Are you proposing that PB have the ability to change the URL before it is sent?  What does that have to do with trackers?  Are additional trackers the result of this type of URL?  Thanks.

[2016-12-13 22:43] KidPluto commented on #612
Going to "https://jujucharms.com/" I see assets.ubuntu.com as a green slider.  So this issue is resolved?  Thanks.

[2016-12-13 22:45] KidPluto commented on #596
Is this the site "https://mightytext.net/"?  This site works for me.  Thanks.

[2016-12-13 22:48] KidPluto commented on #537
What is the site with the issue?  "kaspersky-labs.com" is not a thing. Thanks.

[2016-12-13 22:50] KidPluto commented on #494
Not able to reproduce.  This one fixed?  Thanks.

[2016-12-13 22:53] KidPluto commented on #462
Not able to play videos on "http://www.france3.fr/direct", even with PB disabled.  Not able to reproduce. Thanks.

[2016-12-13 23:18] aceat64 commented on #1057
I'm on version 55.0.2883.75 (64-bit) on Ubuntu 16.04.1 and having the same issue.

[2016-12-13 23:51] cbarnsdale commented on #1057
Seeing the same thing here, Windows version "Version 55.0.2883.87 m (64-bit)"

[2016-12-14 00:57] downeym commented on #1055
Reproduced same problem on Firefox 50.1.0 on OS X 10.12.1.

[2016-12-14 01:01] Chryssalyn opened #1058 "UI is blank in Firefox when JavaScript is disabled"
Since the switch to 2.0 PB seems not to work at all, even if I disable other add-ons. The UI window shows nothing but blank boxes, and even the settings page displays strangely and is non-functional.

I'm on FF 50.1 and have ABP, NoScript, TabMix, Self-Destructing Cookies, and RequestPolicy add-ons.

[2016-12-14 01:04] cooperq commented on #1058
Can you try disabling and re-enabling privacy badger? Also maybe try
restarting firefox.?

On 12/13/2016 05:01 PM, Chryssalyn wrote:

[2016-12-14 01:11] Chryssalyn commented on #1058
Yep, I've tried that. Here's some pics:
![ui window](https://cloud.githubusercontent.com/assets/24556907/21165827/d5aa0fac-c16f-11e6-963e-bc0907deff64.jpg)
![setup page](https://cloud.githubusercontent.com/assets/24556907/21165911/454f1f32-c170-11e6-8e97-24f263b95dd2.jpg)

[2016-12-14 01:33] watchmoretv commented on #1049
Same here as mikelabonte as mikelabonte on Ubuntu:
console gives me

1481677426671	addons.webextension.jid1-MnnxcxisBPnSXQ@jetpack	WARN	Loading extension 'jid1-MnnxcxisBPnSXQ@jetpack': Reading manifest: Error processing permissions.9: Unknown permission "privacy"
1481677426674	addons.webextension.jid1-MnnxcxisBPnSXQ@jetpack	WARN	Loading extension 'jid1-MnnxcxisBPnSXQ@jetpack': Reading manifest: Er

[2016-12-14 02:33] NihilNon opened #1060 "Badger's popup broken in Firefox Private Browsing (Incognito) windows"
I am not able to see any sliders when I am using a private window, a.k.a. incognito mode, in Firefox.
I have tested multiple sites to verify.
Firefox 50.1.0 (I just updated from 49 and the issue is still present.)
Add-ons: HTTPS Everywhere, NoScript, uBlock Origin, Stylish, Reddit Enhancement Suite, Privacy Badger.
I don't believe this was an issue yesterday and I haven't made any changes beyond u

[2016-12-14 03:14] qxz17 commented on #1057
I'm having the same problem on Windows version 55.0.2883.87 m (64-bit), and it's also happening the same way with the HTTPS Everywhere extension.

[2016-12-14 03:32] qxz17 commented on #1057
Apparently this is a known issue. There's a previous thread here: https://github.com/EFForg/privacybadger/issues/911. And there's a Chrome developers' thread about it here: https://bugs.chromium.org/p/chromium/issues/detail?id=643814.

FWIW, even though previously this hadn't worked, I just tried uninstalling and reinstalling both extensions again, and it seems to have worked this time. I don't kn

[2016-12-14 03:48] pjlsergeant commented on #1049
I believe I have the same issue. I have recorded a PCAP session from it - it appears to be connecting to > 1,000 sites and sending what look like certificate requests. I'd be happy to email this file to someone who'd know what to do with it.

Most worrying is that it seems to ... know which sites I've visited? For example, one of the sites it requests from is: https://www.karstenaichholz.com/

I h

[2016-12-14 04:10] groovecoder commented on #1055
Looks like the same duplicate `ERROR.captureStackTrace` issue causing https://github.com/EFForg/privacybadger/issues/1050 and fixed in https://github.com/EFForg/privacybadger/pull/1053. Suggest closing this as duplicate and merging https://github.com/EFForg/privacybadger/pull/1053 ASAP.

[2016-12-14 04:11] groovecoder commented on #1058
What OS? Also can you try disabling and re-enabling each other add-on individually?

[2016-12-14 04:20] Chryssalyn commented on #1058
Win 7 Pro 64 bit.

I tried disabling each add on individually, including restarting FF - no dice.

[2016-12-14 04:36] alexristich commented on #1057
This does look like it's the same issue originally reported to the Chromium team back in September. Looking at the progression of the bug report on their bug tracker (kindly linked to by @qxz17), it appears it still hasn't yet been confirmed as fixed. Please try uninstalling and reinstalling the extension again; that appears to help in some cases. Another tip was also posted to #911 saying the fol

[2016-12-14 04:47] groovecoder commented on #1060
Now that PB is using WebExtension code-base for Firefox, the checks for `tab.incognito` are working. @cooperq - it looks like PB code has some checks for `tab.incognito`. Could those checks be hiding the sliders UI elements?

[2016-12-14 04:47] groovecoder commented on #1058
Okay, I can't reproduce on my Mac but I'll try on a Windows machine tomorrow.

[2016-12-14 04:54] alexristich commented on #967
Likely in the near future, yeah. For now it looks like only a small handful of extensions are supported, and there is a "queue" for new extensions: https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/extensions/guides/packaging/. It seems they aren't yet done implementing the WebExtensions API and have decided to scale up slowly.

My guess is the submission will be done in

[2016-12-14 05:00] DidUknowiPwn commented on #596
Commented on a year old issue... it's fine now....

[2016-12-14 05:01] cmars commented on #612
Appears to be yellow for https://jujucharms.com/store -- which is fine, it doesn't break our site. I'm happy to close this, thanks for letting me know!

[2016-12-14 05:01] #612 closed

[2016-12-14 05:11] 7ranceaddic7 opened #1062 "PB blocking extensions"
PB occasionally blocks Blue extension.

[I'll provide extension error when it occurs again.]

(p.s. I know you can't act on this until more info is provided)

[2016-12-14 05:18] alexristich commented on #1049
@pjlsergeant Regarding the domains that are being stored, these are stored in order to allow Privacy Badger determine whether a tracker is present on multiple distinct domains. I'm not sure exactly why it's sending out requests to all these sites (or if it even is - @cooperq should have a better idea here), but the recent update to Privacy Badger includes a migration to a new WebExtensions version

[2016-12-14 05:58] redranamber opened #1063 "Can't export data using Opera"
From the console

Error in response to storage.get: InvalidCharacterError: Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range.
    at Object.callback (chrome-extension://ldfkcgjipgfchpnojicdgpgiocoeelik/src/options.js:169:57)
    at HTMLButtonElement.exportUserData (chrome-extension://ldfkcgjipgfchpnojicdgpgiocoeelik/src/options.js:166:24

[2016-12-14 06:10] pjlsergeant commented on #1049
@alexristich That's a pretty big break in expectations. I absolutely do not expect a privacy tool to be maintaining a plain-text copy of every domain it's seen me visit, and I wonder if other users do? Couldn't these be -- at the very least -- `scrypt`d?

Regarding "or if it even is", I don't think my network monitor is deceiving me, but I'd be happy to send the capture to someone.

[2016-12-14 06:13] pjlsergeant opened #1064 "Privacy Badger maintains a separate, plain-text list of e̶v̶e̶r̶y̶ ̶d̶o̶m̶a̶i̶n̶ ̶y̶o̶u̶'̶v̶e̶ ̶e̶v̶e̶r̶ ̶v̶i̶s̶i̶t̶e̶d̶ some visited domains"
With reference to:

https://github.com/EFForg/privacybadger/issues/1049#issuecomment-266945185

I suspect this does not match users' expectations *at all*. Would it be at least possible to hash them securely, and also make it clear to users that this behaviour is occuring?

[2016-12-14 06:15] alexristich commented on #1063
Thanks for the report on this!

@cooperq @ghostwords I notice uBlock is using a different approach for creating the export file.
[code]

Our current implementation is using `data:application/json;base64` instead - I'd assumed base-64 would give us the character set we needed though it seems not. Should I switch `btoa()` to `encodeURIComponent()` along with the required tweaks to the file format?

[2016-12-14 06:35] martinfischer opened #1065 "Connection to IP on Firefox startup"
Privacy Badger seems to connect to 151.101.16.201 (currently) on port 443 every time Firefox is started.

I could not find any documentation what this connection is for.

Please explain.

In relation with this issue: https://github.com/EFForg/privacybadger/issues/1064 (Privacy Badger maintains a separate, plain-text list of every domain you've ever visited) it's all a bit weird.

[2016-12-14 07:42] KommX commented on #880
I don't get why you can't reproduce this.

Go to the site http://www.lidl-reisen.de/newsletter
It loads "external" content via
`<iframe id="newsletter_include" src="https://www.lidl-onlinenewsletter.de/forms/travel/de/newsletter_form.html" frameborder="0"></iframe>`
When privacy badger blocks loading content from www.lidl-onlinenewsletter.de, which it does for me, then the site is broken.

[2016-12-14 08:12] 7ranceaddic7 commented on #1062
Update:

Warning:
This extension failed to redirect a network request to data:application/javascript;base64,dmFyIGFiUHJtPXt9O3ZhciBhYk5vT3A9ZnVuY3Rpb24oaSxhKXtyZXR1cm4gKGEmJmEubGVuZ3RoP2FbMF06bnVsbCl8fHRydWU7fSxhYlNDPWZ1bmN0aW9uKG4sdil7ZG9jdW1lbnQuY29va2llPW4rJz0nK3YrJztwYXRoPS87ZXhwaXJlcz0nKyhuZXcgRGF0ZSgobmV3IERhdGUoKSkuZ2V0VGltZSgpKygzMDAwMCo2MCo2MCoyNCkpKS50b0dNVFN0cmluZygpO30sYWJHQz1mdW5jdGlv

[2016-12-14 10:04] Sebb767 commented on #1065
This seems to resolve to www.eff.org. If you call the IP directly, you get the following:

But if you overwrite the host header to www.eff.org and use https you get the EFF page:

`curl --header 'Host: www.eff.org' -k 'https://151.101.16.201'`

Doesn't make this any less shady, but at least it's probably not some unknown third party.

[2016-12-14 10:06] congma commented on #1058
This happens here too.  Might be related to this?

[Content security policy](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy#Default_content_security_policy)

Default content security policy
------------

The default content security policy for WebExtensions is:

    "script-src 'self'; object-src 'self';"

This will be applied to any WebExtension that has not exp

[2016-12-14 10:17] Chryssalyn commented on #1058
Maybe? Way out of my ability level to know how to test this, lol.

[2016-12-14 10:36] AndyBay opened #1066 "Domains not displaying."
- Windows 10 64 bit

- Firefox 50.1.0

- Addons: Privacy Badger, uBlock Origin, Reddit Enhancement Suite

- Using new installations and profiles

Using the old version of Privacy Badger, 1.9.2, this is the result when going to reddit.com
![red_50_old](https://cloud.githubusercontent.com/assets/1170184/21178194/afba223a-c1ee-11e6-881b-05da7aedcc3b.png)

Using the new version, 2016.12.8.1, no domain

[2016-12-14 10:44] jamescooke commented on #1065
Definitely not documented - but could be:

* Checking for updates?
* Checking either of these URLs from the `constants.js`? https://github.com/EFForg/privacybadger/blob/6509b89b1015a16ba4cd3139f7e9c468e4e1cf2f/src/constants.js#L33-L34

[2016-12-14 10:58] Acharvak commented on #1064
I agree, there should be an option to hash the domains. But only an option—if it slows the browser down, I'd prefer no hashing.

What's more concerning is the fact that it appears to also remember URLs I've visited in Private mode. Perhaps it would be reasonable *not* to remember these (at least not by default), restrict new tracker identification to non-private windows.

[2016-12-14 10:59] otetard opened #1067 "Unable to edit Etherpads with latest version of PrivacyBader on Firefox"
Hi,

With the latest version (2.0) of PrivacyBadger on Firefox (51b4; e10s disabled; Debian), I can’t edit Etherpad documents, connexion is reseted when typing.

How to reproduce:
- enable PrivacyBader on Firefox;
- open a random pad (for example: https://beta.etherpad.org/p/iYQsFi22Gl)
- try to edit that pad.

The only solution is to completely disable PrivacyBadger in the addons list.

Thanks fo

[2016-12-14 11:25] TheMeddlingMonk opened #1068 "Latest version breaks Google Spreadsheets"
The latest update to Privacy Badger in Firefox 50 has broken Google Spreadsheets. Drive and Docs still work, but I can no longer access any spreadsheets - it returns an error asking me to reload the spreadsheet every time.

Rolling back to the previous version of Privacy Badger or removing it solves the problem.

[2016-12-14 12:45] bitJericho commented on #1064
There's no way hashing would be secure. A rainbow table could decode the list trivially.

[2016-12-14 12:59] Sebb767 commented on #1064
@bitJericho You could use a salt depending on the user and/or browser. Or simply randomly generate one when the extension is installed.

[2016-12-14 14:00] groovecoder commented on #1049
I'd be interested to take a look.

[2016-12-14 14:00] groovecoder commented on #1049
I'm at lcrouch at mozilla dot com.

[2016-12-14 14:04] bitJericho commented on #1064
@Sebb767 I don't think this would resolve the issue. If an attacker has your local database, the attacker would have your salts.

[2016-12-14 14:26] halleycarleton commented on #911
I'm having this issue in Ubuntu 16.04, Chrome 55.0.2883.87.

No issues on Windows 10 though.

[2016-12-14 14:35] ghostwords commented on #1064
Please see #266 for previous discussion.

[2016-12-14 14:36] brunoqc commented on #911
I have the problem on Windows 10 with Privacy Badger 2.0. I was already using privacy badger from the Chrome Store and I got the problem when I used the update button in dev mode.

I also wasn't able to install it again from the store.

[2016-12-14 14:37] ghostwords commented on #1065
Please see https://github.com/EFForg/privacybadgerfirefox-legacy/issues/816 for previous discussion.

[2016-12-14 14:45] ghostwords commented on #1062
Please see https://github.com/EFForg/privacybadger/issues/1032#issuecomment-265774776.

[2016-12-14 14:45] #1062 closed

[2016-12-14 14:47] ghostwords commented on #1068
Fixed by #1053?

[2016-12-14 14:48] ghostwords commented on #1067
Fixed by #1053?

[2016-12-14 15:21] mjrider opened #1069 "overblocking of *.simplyedit.io"
SimplyEdit is a javascript application which applies the website content in the browser.
Because of the Cloudflare cookie privacybadger blocks it. The result is an empty webpage

example websites using it:
- https://simplyedit.io
- https://www.muze.nl/

dns names:
- cdn.simplyedit.io
- canary.simplyedit.io
- beta.simplyedit.io

disclaimer: i'm one of the developers

[2016-12-14 15:51] cschramm commented on #1068
I experience the same issue and #1053 sounds like it should fix it (as I'm seeing that `ERROR.captureStackTrace` message). It also affects some other pages, e.g. http://radio.garden/.

[2016-12-14 16:13] KidPluto commented on #880
Going here: "http://www.lidl-reisen.de/newsletter", I get the same result.  Regardless of PB being enabled or disabled.

[2016-12-14 17:13] Acharvak commented on #1064
The result of the discussion in #266 was that any form of hashing would still let the attacker know if you've visited a certain site if he has your database (by hashing the domain of that website and checking if it's in your database).

But I do believe there is some merit in hashing, because it would stop potential attackers, who, e.g.:

* Search all files on your computer for certain strings, bu

[2016-12-14 17:22] jvopelak commented on #1057
I have the same issue on  Version 55.0.2883.95 (64-bit) running on a mac.  Tried the solution in the link, it doesn't seem to work.

[2016-12-14 17:29] ghostwords commented on #1064
Private browsing should not be getting recorded in any way by Privacy Badger. If it is, it's bug.

[2016-12-14 17:49] josh-berry commented on #1057
+1, Chrome beta 56.0.2924.21 (64-bit), Mac. Reinstalling does not work for me either, nor does repairing or re-enabling through the Chrome Web Store.

[2016-12-14 17:50] terrorist96 opened #1070 "zazzle.com"
http://digitalblasphemy.com/

The image for the link to the calendar is blocked. Moving from red to yellow fixes it.

[2016-12-14 18:00] Sebb767 commented on #1064
I'm also pro hashing. Assuming the salt is stored in chrome local storage:

- The attacker would need to have access to the list as well as to the chrome local storage (I'm not sure if the list is saved there, too).
- An attacker would have a much harder time to profile someone. You might be able to get a few common ones (Google, GitHub, YouTube, ...) but you need to do a lot of cracking to find e

[2016-12-14 18:18] Acharvak commented on #1064
I've retested. Now it isn't happening anymore. I may have been careless during my initial test, I guess, sorry about the false alarm.

[2016-12-14 18:27] ghostwords commented on #1064
@Acharvak No problem!

Agree that the way domains are stored locally for the purposes of the heuristic, and how private browsing works are both issues worth revisiting. Good point that some people use Private Browsing mode exclusively! I suggest opening a new issue for each distinct proposal.

[2016-12-14 18:55] Scott123456 commented on #1057
Same issue. Chrome version 55.0.2883.87 m, Windows 7. All proposed solutions fail to work (reinstall, repair, and re-enable from the store page header).

[2016-12-14 19:44] Fabiensk opened #1071 "Version 2016.12.8.1 broke Piwik graphics"
On Firefox 50.0.2 and 52.0a2, after having upgraded from version 1.9.2 to version Version 2016.12.8.1, the diagrams in the [MediaWiki Pageviews](https://tools.wmflabs.org/pageviews/) and [Piwik](https://piwik.org/) in the administrator pages are not displayed properly any more. Reverting back to version 1.9.2. Disabling the add-on also fix the problem. If I disabling it only for this web site, the

[2016-12-14 20:08] alexristich commented on #1066
Regarding only one domain showing up, what's likely happening here is uBlock Origin and Privacy Badger are fighting over domains. If uBlock Origin sees a request first and cancels it, Privacy Badger won't see it. It works the same way if Privacy Badger sees it first. If you disable uBlock Origin temporarily you should see Privacy Badger's list of detected trackers go up. Fortunately the two extens

[2016-12-14 20:10] ghostwords commented on #1071
To be fixed by #1053.

[2016-12-14 20:28] AndyBay commented on #1066
If I disable ublock Origin, one domain do appear, s.zkcdn.net, which I believe is an ad that ublock blocked. In the options page there are now 50 "potential tracking domains" which I believe should be a higher number? Right now none have been set to block, though previously, before using a new profile, some google domains managed to turn yellow.

I also downloaded chrome to test this, and after vi

[2016-12-14 20:36] KidPluto commented on #880
I am getting "www.lidl-onlinenewsletter.de" with a green slider by default.  When I move it to red the page doesn't load.

[2016-12-14 21:08] darren12345 opened #1072 "PB does not seem to be blocking any domains in Ubuntu Linux"
PB 2016.12.8.1
Ubuntu 16.04
FF 50.1.0

Reproduced on two different machines. Visiting sites that definitely have trackers (according to PB on Windows 7) displays a 0 on the tool bar icon. If I open the PB window, it does list potential trackers but they are all defaulted to allow.

Updated to Add: Just tested on a clean FF profile. Same result.

[2016-12-14 21:15] terrorist96 commented on #1031
https://www.facebook.com/JudgeNapolitano/posts/10154867111820802
`video.foxnews.com`

[2016-12-14 21:31] KidPluto opened #1073 "The trackers documentation page still has link to the Firefox legacy git"
https://www.eff.org/privacybadger#trackers
For the "I found a bug"

Since I just figured out that the firefox code base is not longer being used, I assume this needs a little rewrite.

Thanks.

[2016-12-14 21:59] tuxayo opened #1074 "The last slide of the "first run" screen has a typo"
Same as https://github.com/EFForg/privacybadgerfirefox-legacy/issues/718

It was fixed in the legacy version in january: https://github.com/EFForg/privacybadgerfirefox-legacy/commit/5e3c538f50ba76746484e56d36bba4f50c828b1e

But in the current version, it's still here https://github.com/EFForg/privacybadger/blob/master/icons/slideshow/PB-layouts-15.png

Were there other losses when switching to the

[2016-12-14 22:01] KidPluto commented on #1070
I think this is the use case:
Goto zazzle.com, search for "calendar digital blasphemy"

On Windows 7 | Firefix 50.1.0 - I see image for the calendar with PB enabled
On Windows 7 | Chrome 54.0.2840.99 - I see image for the calendar with PB enabled

Not able to recreate the issue.

[2016-12-14 22:08] KidPluto commented on #1069
Looked at both sample links.  Not able to reproduce.

Windows 7 & PB v2016.12.8 | Firefix 50.1.0 and Chrome 54.0.2840.99

[2016-12-14 22:16] KidPluto commented on #1067
Windows 7 & PB v2016.12.8 | Firefix 50.1.0 and Chrome 54.0.2840.99

I get this error when attempting to edit, with PB enabled **or** disabled.

And also get an error which flashes by when that page is being loaded.  Regardless of PB.

Thanks

[2016-12-14 22:16] terrorist96 commented on #1070
![a](https://cloud.githubusercontent.com/assets/12802056/21203561/06790cd0-c221-11e6-8dac-36fe5bf0686f.PNG)

[2016-12-14 22:19] KidPluto commented on #1070
Ok, so why is the issue labeled "zazzle.com"?  What is your use case?  Thanks.

[2016-12-14 22:21] terrorist96 commented on #1070
![capture](https://cloud.githubusercontent.com/assets/12802056/21203716/be1912cc-c221-11e6-8748-93fcdb38f274.PNG)

[2016-12-14 22:26] KidPluto commented on #1070
I see this image with PB enabled on both Firefox & Chrome.  Chrome doesn't list zazzle.com.  Firefox listed it, but comes up with the slider on green.

[2016-12-14 22:27] etremel commented on #1057
@alexristich's suggested method worked for me: Upon visiting the extension's detail page, I got a yellow pop-up message at the top of the page saying "this extension has been disabled" (for some unspecified reason) and giving me a link to re-enable it. Clicking the link successfully re-enabled the extension and the Privacy Badger welcome page opened. However, this doesn't seem to have worked for o

[2016-12-14 22:27] terrorist96 commented on #1070
It's listed as green for you because PB hasn't noticed it to be "tracking" you yet. It defaults to red for me.

[2016-12-14 23:17] darren12345 commented on #1072
OK, after reading around I understand it might take a while for PB to start detecting and blocking trackers, especially with 3rd party cookies blocked like I have. So put this one on hold for a moment...

[2016-12-15 00:19] pde commented on #1064
Reopening #266; I think we should definitely do some version of that.

[2016-12-15 00:28] pde commented on #1064
Also I'm going to change the title of this bug, since PB2 doesn't store every domain you've ever visited; it stores the first two first party domains on which you've seen a given third party.  After that, it's counted to three and it blocks the third party.

[2016-12-15 00:29] pde commented on #266
We definitely should do this.

[2016-12-15 00:44] pde commented on #266
In particular, my instinct is that we should do the following two things:
- [ ] When domains get redlisted, remove the three first party entries that caused them to be redlisted.
- [ ] Maybe replace the first party domain names with a 1-2 hex digit HMAC slice. That's a simple special case of a bloom filter; it will make the algorithm a bit slower to block some trackers, but not terribly so.

[2016-12-15 00:56] pjlsergeant commented on #1064
I think one big issue you need to address here is that if I wipe my history, this isn't wiped. I can understand why, but this behaviour needs to be made *much* more explicit.

[2016-12-15 00:58] pde commented on #1064
@pjlsergeant agreed! I think we can do a much better job. I'm inclined to work on this over in #266; would you be fine with closing this ticket as a duplicate of #266, and moving to technical discussion in that issue?

[2016-12-15 01:14] pjlsergeant commented on #1064
@pde Although I like the immediacy of the title on this one, that's probably the right thing to do. Closed, as a duplicate of #266

[2016-12-15 01:14] #1064 closed

[2016-12-15 01:16] pjlsergeant commented on #266
I don't think this part is optional; I think this is a hard requirement

[2016-12-15 01:18] pjlsergeant commented on #266
This is a great idea; it gives deniability, you can use a very very fast HMAC digest algorithm for it, and the only draw back I see is that once in x times you'll undercount unique domains.

[2016-12-15 01:53] ghostwords commented on #1019
Not initially ... this is to appraise tweaks to the heuristic, to start with. Cross-browser differences don't seem like a priority, at least in the beginning.

[2016-12-15 03:54] jawz101 commented on #1019
Ah.  I think I was reading two of your Selenium-related enhancement tickets at the same time :/

[2016-12-15 07:49] mailinglists35 commented on #1032
@ghostwords i filed this issue with title "latest chrome store update crashes other extensions and PB crashes itself too". i didn't have the screenshot at hand (which i've later posted in comment https://github.com/EFForg/privacybadger/issues/1032#issuecomment-266702254

then @Mappa hijacked the issue with a totally different behaviour ("This extension failed to redirect a network request" message

[2016-12-15 08:09] ccoenen opened #1076 "[firefox] Privacy Badger appears to trigger openx client certificate dialog"
When I open Firefox, I get this client certificate dialog, wanting me to authenticate to openx.net.

I'm raising it here, because it seems to be caused by the privacy badger extension. I deactivated all extensions and re-activated them one-by-one to find out.

I guess to get this dialog (to reproduce my issue) at all, you'd need to have client certs installed in your browser. Mine is from StartSSL

[2016-12-15 08:13] ccoenen commented on #1076
This is privacy badger on firefox / windows. Version 2016.12.8 updated on 14.12.2016. My second computer also shows this behaviour.

[2016-12-15 08:18] ccoenen commented on #1076
When the extension is *active* this happens on every single start of firefox (directly without further doing)

When the extension is *inactive*, go to the extensions tab, and at the very instant when you hit the "activate" button, the same dialog will pop up.

[2016-12-15 08:33] alexristich commented on #1072
That was my first thought as well. When it's first installed, Privacy Badger doesn't block anything - it'll start blocking as it builds up a local database of which sites are tracking you and will then determine the appropriate action.

An import/export feature was recently added to the Options page to allow you to transfer your user data from one device to another, though in order to take advanta

[2016-12-15 08:33] #1072 closed

[2016-12-15 08:37] ccoenen commented on #1076
I can't seem to recreate the problem any more. But I did record a little bit of traffic before the issue stopped:

![grafik](https://cloud.githubusercontent.com/assets/124909/21216936/d6392c6a-c2a9-11e6-9e12-8463dacf3327.png)

These are TCP-SYN packets to port 443, all of those happen within two or three seconds. For some reason, my firefox tried to connect to all those domains (and more!) after a

[2016-12-15 09:05] AndyBay commented on #1066
After searching around here a bit I found the reason I didn't get any domains listed when visiting reddit.com. It seems that "reddit enhancement suite" and "imgur.com" are both listed as first party domains under src/multiDomainFirstParties.js. I removed the line with reddit domains, and all the domains I got listed in 1.9.2 reappeared.

The problem still existing is Privacy Badger not blocking an

[2016-12-15 11:38] pvsomebody opened #1077 "Badger popup UI is cut off on the bottom in some locales"
Hi. The issue can be considered aesthetic now, since the button can still be clicked, and is now clipped only a little, and only on the domains that have a lot of trackers, but you asked to repost it if it happens after the update, so here.

![screenshot2](https://cloud.githubusercontent.com/assets/13513395/21222649/a02d3d88-c2cb-11e6-898d-25577dbfc4c7.png)

[2016-12-15 11:47] duncanparkes opened #1078 "Badger doesn't appear to work on new tabs."
If I open a site (for example, www.theregister.co.uk) and then open one of the links there using 'open in new tab', Privacy Badger always reports nothing needed blocking and allows all the trackers on the new tab. Opening in a new window results in normal blocking behaviour.

Firefox version 50.1.0 (Ubuntu)
Badger version 2016.12.8.1

[2016-12-15 14:09] ghostwords commented on #1032
It seems that the thread did get repurposed, it's true. But now that it happened, and there is all this valid discussion about something else, doesn't it make sense to start fresh with your issue? Feel free to keep going here of course, just trying to help.

[2016-12-15 14:31] davidbehler opened #1079 "[Firefox] canvas.toDataURL() no longer working"
OS: Mac OSX 10.11.6
Firefox: 50.1.0
Privacy Badger: Latest

When the Privacy Badger plugin is active, the call to `toDataURL()` on an object representing a canvas element leads to the following error

Here is a JSFiddle to reproduce the issue: http://jsfiddle.net/xqcfoucs/
Just select an image using the right hand file input. A cropped version of the image will be displayed below the file input al

[2016-12-15 14:36] ghostwords commented on #1079
To be fixed by #1053.

[2016-12-15 14:36] ccoenen commented on #1076
In the second computer I just had the very same thing once again (hundreds of TCP SYNs to various high-profile domains).

[2016-12-15 15:18] KommX commented on #880
The thing is that PB "learned" to block it because "www.lidl-onlinenewsletter.de" is included by different Lidl domains. And blocking it breaks the including site.

[2016-12-15 15:44] mailinglists35 commented on #1032
@ghostwords could you point to the correct issue reporting that PB is **crashing** and that **is determining other extensions to crash**, like I've shown in https://github.com/EFForg/privacybadger/issues/1032#issuecomment-266702254 above? thanks.

[2016-12-15 16:41] wjkendall commented on #1057
Same issue here on Chrome Version 55.0.2883.87 m (64-bit)
This extension may have been corrupted.
![capture](https://cloud.githubusercontent.com/assets/7632482/21232941/08025024-c2b3-11e6-8b73-9b5be39c3a66.PNG)

[2016-12-15 17:07] jawz101 opened #1080 "future enhancements: redirect and referrer cleaning"
I was just thinking about some of the other tracking and logging mechanisms out there.  Maybe it's out of the scope of this add-on but I wondered if things such as Google image search hover/click referrer stuff can be cleaned from links as well as sites which contain links to with long referrer strings in them.

Seems like links could be stripped of all of that junk and still work.  I have trouble

[2016-12-15 17:33] JobLeonard opened #1081 "[Chrome] Interface does not fit in pop-up when default zoom settings are bigger than 100%"
This is what it looks like in my browser with default 150% zoom:
![image](https://cloud.githubusercontent.com/assets/259840/21234893/d47cf956-c2f4-11e6-850b-12b798dcbc3b.png)

Note that zooming out on the page *does not resize the pop-up*, so unless I change the zoom settings I can't reach some parts of the interface.

[2016-12-15 17:42] #1074 closed

[2016-12-15 17:46] #1041 closed

[2016-12-15 17:48] #1048 closed

[2016-12-15 17:53] cooperq commented on #1032
Fine. reopining this issue. @mailinglists35 what version of chrome are you running, what operating system? Can you open the privayc badger debug console (by clicking enable developer mode on the chrome extensions page and then clicing inspect background page underneath privacy badger) are there any errors displaying there?

[2016-12-15 18:02] #1043 closed

[2016-12-15 18:32] qbit commented on #1047
uBlock origin had a [similar issue](https://github.com/gorhill/uBlock/issues/533) to this. They fixed it by adding a check like this: https://github.com/gorhill/uBlock/blob/master/platform/chromium/is-webrtc-supported.js

[2016-12-15 18:54] egg-shell commented on #911
Seeing this in Ubuntu-Gnome 16.04. Chrome is at 55.0.2883.87.

Windows 10 version works fine.

[2016-12-15 19:06] Frank-Schwarz opened #1083 "This extension may have been corrupted."
Installed Privacy Badger 2016.12.8
and getting the error
This extension may have been corrupted.

I have clicked the repair fix and still not enabling.
No other ad-blockers installed.

Chrome Version 55.0.2883.87 m (64-bit)

[2016-12-15 19:08] albell opened #1084 "Android support?"
Hi guys,

So, I was psyched to get the EFF email about the PB 2.0 release. But, I've got a Android phone. I've visited the PB install page in Firefox, Chrome, and Opera, and PB doesn't seem to be supported in any Android browser. W...... T....... F........ Am I missing something?

I love EFF. I want to see this project to succeed, beyond all of our wildest imaginations. But I have to scratch my he

[2016-12-15 19:49] pde commented on #1084
One way you can try Privacy Badger on Android is via the [WARP browser](https://www.eff.org/deeplinks/2016/11/delivering-privacy-badger-and-https-everywhere-mobile-users-warp-speed) which includes a port of Privacy Badger 1.x (we'll also work with Qualcomm to get that up to 2.x)

[2016-12-15 20:23] alexristich commented on #1076
@ccoenen It seems the most likely explanation for this is twofold: (1) Privacy Badger checks a list of sites for DNT-compliance (https://en.wikipedia.org/wiki/Do_Not_Track) at a regular interval, verifying whether sites that claimed compliance are continuing to do so. (2) It appears that on migration from the old version of Privacy Badger for Firefox to the new one, the importing of the `snitch_ma

[2016-12-15 20:23] #1076 closed

[2016-12-15 20:28] alexristich commented on #911
Closing this issue so as to merge with discussion in #1057.

[2016-12-15 20:28] #911 closed

[2016-12-15 20:29] alexristich commented on #1083
Closing this issue so as to merge with discussion in #1057.

[2016-12-15 20:29] #1083 closed

[2016-12-15 20:57] alexristich commented on #1066
If you visit a few news sites, say nyt.com, latimes.com, etc., do you eventually see any trackers being moved to the red `block` status?

[2016-12-15 21:01] ccoenen commented on #1076
So basically upon installing Privacy Badger, I just lit up a beacon "HEY GUYS I DON'T WANNA BE TRACKED, K THX BYE" to a few hundred companies? Isn't there a better way to do this, than having each client do the check (giving up a bit of information in the process)?

I don't know about other people, but I find this highly counter-intuitive. I can't put my finger on it, but I don't fell good about t

[2016-12-15 21:02] ccoenen commented on #1076
Regardless of that: thank you for looking into it and taking the time to explain it. It _is_ helpful information, and I can sleep a lot better knowing that this is not a fault or virus or something on my machine.

[2016-12-15 21:04] ccoenen commented on #1084
related to https://github.com/EFForg/privacybadgerfirefox-legacy/issues/271 which is - sadly - marked "wontfix" :-(

[2016-12-15 21:35] pde commented on #266
I agree that leaving cleartext history samples around is unacceptable if the user clears their history. But I've been wondering if 1-hex-digit records are acceptable in that case.

There are some corner cases where a small amount of information about browsing history may be genuinely inferrable from those records. For instance, if a third party domain is on a grand total of 5 first party domains a

[2016-12-15 21:46] alexristich commented on #1076
I hear your concern. What it is actually doing is checking for a specific resource in a well-defined location. Here's a document that talks about Do Not Track: https://github.com/EFForg/privacybadger/blob/master/doc/DESIGN-AND-ROADMAP.md

Basically, Privacy Badger will form and send an XMLHttpRequest (https://en.wikipedia.org/wiki/XMLHttpRequest) to each of the domains it knows of to try and locat

[2016-12-15 22:19] ccoenen commented on #1076
I consider my IP-address, browser language and user agent (including operating system and version) to be pretty identifying. I can't know for sure (all those requests are TLS), but It's the default for regular XMLHttpRequests to send those along.

[2016-12-15 23:39] AndyBay commented on #1066
Browsing those sites with Privacy Badger and uBlock eventually results in PB blocking (red) google.com, and some other (yellow) goggle domains, so that's good. Using only PB, without any ad blocker, a lot of other domains gets blocked on those sites as well.

Using the old PB version, other domains (e.g. disqus, schibsted) gets blocked, this is not happening in the new version. Using the new PB ve

[2016-12-16 00:11] ianmcorvidae commented on #1050
I'm having the same issue on https://use.jetstream-cloud.org/application. To be very specific, it's failing in this case when Modernizr feature detection attempts to call the `toDataURL` function of a `canvas` element.

To reproduce specifically this, go to data:text/html,<html></html> with and without PB, and use the console to try to run `document.createElement("canvas").toDataURL("image/jpeg")`

[2016-12-16 00:22] jawz101 commented on #1084
https://addons.mozilla.org/en-US/android/addon/privacy-badger17/

It's right there

[2016-12-16 00:34] jawz101 commented on #1084
... Note it was only made available on Android just a week ago.  There's no user interface so I can't really tell if it's doing anything.  The only thing I notice is on a rooted phone is this file

file:///data/data/org.mozilla.firefox/files/mozilla/(profile name).default/browser-extension-data/jid1-MnnxcxisBPnSXQ%40jetpack/storage.js

But the file doesn't look like it's logging anything as the de

[2016-12-16 00:42] albell commented on #1084
@jawz101 thanks. So it's... totally busted?

When I visit the project home page in Firefox 51 for Android this is what I see:

![privacy-badger-site-12-15-2016-on-firefox51-android](https://cloud.githubusercontent.com/assets/1142025/21247492/a7b8759a-c2e4-11e6-9463-7940df235be2.png)

This just after your big launch announcement. There's.... a lot of opportunity being left on the table here. Negati

[2016-12-16 00:46] albell commented on #1084
P.S. I just downloaded WARP. It's cool niche product for the determined user, but the design/marketing is painfully amateur. It's hard to see this becoming a mainstream product with a global impact. I'd love to see a clearer path towards mass adoption on mobile.

[2016-12-16 00:49] jawz101 commented on #1084
Well, I just go straight to the Firefox AMO page.  Also, I don't even know if Firefox for Android is indeed e10s yet.  When I go to about:support it still says multiprocess is disabled by add-ons.  Now I think half of the problem is Mozilla still hasn't rolled e10s out to the mobile Firefox.

[2016-12-16 05:33] pjlsergeant commented on #266
The corner cases still leave you with a deniability factor that the plaintext domains don't. I think the single(or double)-character hash here is a clear winner.

[2016-12-16 08:01] mailinglists35 commented on #1032
@cooperq meanwhile I have updated to chrome store version Updated: December 15, 2016, and it no longer crashes. Thank you! :)

[2016-12-16 08:03] mailinglists35 commented on #1032
this the only warning

Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
getFileContents @ socialwidgetloader.js:80

using srware iron by the way :)

[2016-12-16 08:07] #1032 closed

[2016-12-16 08:29] mjrider commented on #1069
i will ask the people who reported this to be to add additional information about the blocking and which os/browser/plugin combo's they are using
on a browser where

[2016-12-16 09:08] mjrider commented on #1069
extra information:
i just tried to reproduce on a clean browser profile, and found a difference between a computer wit was blocking cdn.simplyedit.io and the clean browser.
We published a DNT policy after we discovered that privacybadger was blocking our cdn. Clean installs show a DNT logo beside it and are allowed. Visiters who visited a site with simplyedit before we published the policy do not

[2016-12-16 10:02] alexristich commented on #1069
@mjrider Glad to hear you've published the DNT policy. Yup, Privacy Badger rechecks for DNT policy every 7 days for a given domain, so for everyone who is using the extension, they should see the updated status within 7 days from when you added the policy.

I'll go ahead and close this issue for now, though do post here if you still hear reports of any issues after about a week has passed. Also, w

[2016-12-16 10:02] #1069 closed

[2016-12-16 15:15] Zalexard opened #1087 "PB is giving me problems with Google Docs"
My Google Docs suddenly started giving me errors, during my troubleshooting I found that it was PB doing it, it's weird since there's only one slider regarding that page and it's green (fonts.googleapis.com). Also, disabling PB for that site seems to do nothing, I have to manually disable the extra to not have an error. I tried whitelisting the domain (docs.google.com) and it did nothing. Tried al

[2016-12-16 15:18] ghostwords commented on #1087
Probably the issue discussed in #1053. Fix should get released soon ...

[2016-12-16 15:32] Zalexard commented on #1087
I guess I'm just glad it's not only me, since this was making me crazy. Thanks for the reply! :)

[2016-12-16 18:47] BradfordBenn opened #1088 "Suggestion - Show Version of Privacy Badger in dropdown"
With the update to Privacy Badger 2.0 I am getting confused what machines I have updated and what ones I have not. I think a good enhancement would be to include text indicating the version or build in the text included in the drop down area. Perhaps right after the title "Privacy Badger" I have included a marked up screen shot.

This request is an enhancement in my opinion but figure having an ea

[2016-12-16 19:38] cooperq commented on #1050
This should be fixed by version 2016.12.15.1 please re-open if not.

[2016-12-16 19:38] #1050 closed

[2016-12-16 19:38] cooperq commented on #1055
This should be fixed by version 2016.12.15.1 please re-open if not.

[2016-12-16 19:38] #1055 closed

[2016-12-16 19:38] cooperq commented on #1067
This should be fixed by version 2016.12.15.1 please re-open if not.

[2016-12-16 19:38] #1067 closed

[2016-12-16 19:38] cooperq commented on #1068
This should be fixed by version 2016.12.15.1 please re-open if not.

[2016-12-16 19:38] #1068 closed

[2016-12-16 19:38] cooperq commented on #1071
This should be fixed by version 2016.12.15.1 please re-open if not.

[2016-12-16 19:38] #1071 closed

[2016-12-16 19:38] cooperq commented on #1079
This should be fixed by version 2016.12.15.1 please re-open if not.

[2016-12-16 19:38] #1079 closed

[2016-12-16 19:41] cooperq commented on #1065
@jamescooke this is a call to get the latest version of the two files listed in `constants.js`. One of them is the list of acceptable DNT policies, the other is the yellow list (cookie block list). Both are needed for privacy badger to operate.

A question for you all is where would you want to see this documented? Like if you were looking for documentation about this, where would you look?

[2016-12-16 20:22] ufkub commented on #1050
Yes, that fixed it. Thank you.

[2016-12-16 20:31] cooperq commented on #1076
Correct the only thing leaking on the DNT recheck is your IP address which I guess lets someone know that this IP is using privacy badger, but it's necessary otherwise if a site posts a DNT policy (or takes one down) that change would never get reflected in privacy badger!

[2016-12-16 20:32] cooperq commented on #1057
This should be fixed by the latest update 2016.12.15.1  let me know if it is still not fixed for any of you.

[2016-12-16 20:34] cooperq commented on #1088
Thank you, we will consider this feature.

[2016-12-16 20:35] cooperq commented on #1087
This should be fixed as of version 2016.12.15.1, please re-open if it is not.

[2016-12-16 20:35] #1087 closed

[2016-12-16 20:41] cooperq commented on #1084
Hi all,
Lead developer here. The big blocker with android support is that mobile firefox still doesn't support web extensions. So if you want to see privacy badger on android go let mozilla know!

[2016-12-16 21:04] tmcw commented on #442
Is that [this method](https://github.com/EFForg/privacybadger/blob/a5c15f127e052f5321e7aa0bf6ba1abb80425000/data/surrogates.js#L235)? Replacing the `noop` with a method that runs console.log or alert when it runs doesn't reveal that that method is ever called. Is there a different method that collapses empty divs, or something else I'm missing?

[2016-12-16 21:27] wjkendall commented on #1057
yes it is fixed now...thank you very much!

BK

On Fri, Dec 16, 2016 at 2:32 PM, Cooper Quintin <notifications@github.com>
wrote:

[2016-12-16 21:57] jawz101 commented on #1084
@cooperq check my post above.  I can actually find Privacy Badger on the AMO mobile site while on my Android phone.

https://addons.mozilla.org/en-US/android/addon/privacy-badger17/

[2016-12-16 22:07] cooperq commented on #1081
Thanks for bringing this to our attention! We will look into it!

[2016-12-16 22:07] #1081 closed

[2016-12-16 22:09] cooperq commented on #1080
duplicate of #85

[2016-12-16 22:09] #1080 closed

[2016-12-16 22:09] cooperq commented on #1078
This should be fixed as of version 2016.12.15.1, please re-open if it is not.

[2016-12-16 22:10] cooperq commented on #1077
Thank you for bringing this to our attention!

[2016-12-17 01:38] ghajini opened #1089 "broken website2"
@cooperq
video not playing on this website
`http://economictimes.indiatimes.com/et-now/daily/demonetisation-was-needed-in-1971-we-are-late-narendra-modi/videoshow/56021422.cms`

blocking of s0.2mdn.net completely ; prevents video from playing...
![screenshot 86](https://cloud.githubusercontent.com/assets/20338483/21283390/6a3b937a-c427-11e6-97fe-97433f5ff97e.png)

moving to cookie block solves the

[2016-12-17 07:59] rdetert opened #1090 "Automatically Block Potential Trackers"
There are too many trackers to keep up with. It seems that some are even using rotating through random domain names. It would be nice to be able to automatically block potential trackers.

[2016-12-17 09:26] Fabiensk commented on #1071
The new version fixed this problems, thanks a lot.

[2016-12-17 13:17] jamescooke commented on #1065
@cooperq Thanks for the explanation of these calls.

I would like to see these documented as part of the FAQs on the Privacy Badger page: https://www.eff.org/privacybadger - this has some detailed explanation of the blocking algo (under "How does Privacy Badger work?"), so why not have additional information about any phoning home?

In addition, it would be reassuring to know that no tracking or s

[2016-12-17 14:28] theel0ja opened #1092 "If DNT policy set, hover on domain shows "undefinedexample.com""
![image](https://cloud.githubusercontent.com/assets/5832930/21287495/7da65938-c475-11e6-87d8-03fddd28a1b4.png)

Chrome 55.0.2883.87 (64-bit) on Linux Mint 18

[2016-12-17 20:19] ghajini commented on #1089
completely broken
http://www.givemesport.com/939951-dave-meltzer-claims-wwe-need-to-cash-in-on-tye-dillingers-momentum-at-the-royal-rumble
![screenshot 88](https://cloud.githubusercontent.com/assets/20338483/21289446/1c411e5e-c4c4-11e6-8ff8-f7c7d6932970.png)
![screenshot 89](https://cloud.githubusercontent.com/assets/20338483/21289447/1c4239b0-c4c4-11e6-8daf-fb08371ceac2.png)

with privacy badger

[2016-12-17 20:44] ghajini commented on #1089
another one
www,jagran.com

blocking of edgesuit.net allows browser to display website improperly
![screenshot 91](https://cloud.githubusercontent.com/assets/20338483/21289615/5e6df5d8-c4c7-11e6-896d-deec46d74ac2.png)

movie it to cookkieblock only preserves site display properly
![screenshot 92](https://cloud.githubusercontent.com/assets/20338483/21289623/a7322708-c4c7-11e6-85cb-3a1722a24bd8.png)

[2016-12-17 22:05] aereaux commented on #1078
This issue does not appear to be fixed as of v. 2016.12.15.1, even after restarting my browser.

[2016-12-18 05:27] KidPluto commented on #1060
I see this issue also.  Thanks.

[2016-12-18 09:41] hungerburg commented on #1078
Issue is here, latest version installed; also on Ubuntu, 16.04; not the creator, I can't reopen?

[2016-12-18 16:48] terrorist96 opened #1093 "openload.co blocks video"
http://fmovies.se/film/life.0n95/z1z4zp

`openload.co` blocks video.

[2016-12-18 16:50] terrorist96 opened #1094 "`image.tmdb.org` blocks images"
http://www.directvfree.com/
http://www.tvrill.com/

`image.tmdb.org` blocks images

[2016-12-18 17:42] BillHarris9 opened #1095 "Get what looks like a paper hat for drop-down"
Something is preventing my drop-down.
Firefox 50.1.0 without any other addons.
Have tried re-install both.
Attached is a pic of a click on the icon response.

![img_2217](https://cloud.githubusercontent.com/assets/24637966/21295274/8a0fc5ee-c50e-11e6-9143-28fde15c3a36.JPG)

[2016-12-18 17:47] terrorist96 commented on #1023
@cooperq

[2016-12-18 18:05] ghajini opened #1096 "videos not playing"
@cooperq , @alexristich , @ghostwords

`http://watchwrestling.bid/wrestling/watch-wwe-raw-121216/`
scroll below click on part 1 under DAILYMOTION PARTS LIVE UPLOADS
in next destination,
video player page just reloads again and again
won't play the video
`https://www.dropbox.com/s/08k4l2xq9kpjdyr/bid%20Dec%2018%202016%2011-05%20PM.webm?dl=0`

note=

pls download each dropbox video to see clearly as

[2016-12-18 18:22] airone506 commented on #1077
This issue does not seem to be limited to RU localization. See attached screenshot please.

Using Firefox 50.1.0 on Ubuntu. The Privacy Badger version is 2016.12.15.1.

![pb-01](https://cloud.githubusercontent.com/assets/22847930/21295505/cd69a394-c556-11e6-830a-62236728f0f8.png)

[2016-12-18 19:46] mauricecaaaaaben commented on #1047
I also have this issue and of course don't have WebRTC.

[2016-12-18 19:55] qbit commented on #1047
I should also mention, some people are unable to enable webrtc - OpenBSD for example.

[2016-12-18 20:03] airone506 commented on #1058
I can see similar behaviour of PB on my computer. I use the [QuickJS](https://addons.mozilla.org/en-US/firefox/addon/quickjs/) Add-on for Firefox to quickly enable/disable JavaScript.

If the JavaScript is disabled, the Privacy Badger's UI looks like the screenshot above. If the JavaScript is enabled, the UI looks OK. So the only difference in my settings is the JavaScript enabled/disabled in my c

[2016-12-19 02:55] VikDeshmukh opened #1098 "Privacy Badger 2.x not displaying sliders"
I have the new 2.x series of Privacy Badger installed and it is not showing any of the sliders, or the count of trackers detected, unlike the old version although clicking on the toolbar button tells me that it detected trackers on this page. Clicking the settings icon also does nothing. This issue is very similar to an older issue posted last year: https://github.com/EFForg/privacybadger/issues/5

[2016-12-19 05:05] interfect opened #1099 "Allow user to turn off WebRTC IP protection [was: WebRTC IP address hiding happens even when turned off]"
It looks like Privacy Badger in Chrome is hiding my IP local IP address from WebRTC even when that setting is turned off.

Steps to test:

1. Turn on Privacy Badger in Chrome Incognito Mode.
2. Make sure the Privacy Badger "Prevent WebRTC from leaking local IP address" box is unchecked.
3. Visit https://browserleaks.com/webrtc in an incognito window
4. Notice the local IP address does not show up.

[2016-12-19 05:10] interfect commented on #1099
@alexristich you seem to have written the WebRTC feature; is this the intended behavior?

[2016-12-19 10:14] duncanparkes commented on #1078
This is still a problem for me on 2016.12.15.1, Firefox 50.1.0, Ubuntu.

[2016-12-19 10:15] duncanparkes commented on #1078
As far as I can see I can't reopen the issue either, and I am the creator...

[2016-12-19 10:16] duncanparkes commented on #1078
It looks like we need @cooperq to reopen it.

[2016-12-19 20:07] wolf6243 commented on #1098
I've got the same problem with Privacy Badger v2 not showing any of the sliders, or the count of trackers detected. Hope this is sorted soon.
![privacy badger 1](https://cloud.githubusercontent.com/assets/18146947/21327396/cda21bd6-c626-11e6-9536-ad212dd58600.jpg)

[2016-12-19 21:15] terrorist96 opened #1100 "*.slidesharecdn.com breaks images"
http://www.slideshare.net/
http://www.slideshare.net/geniusworks/xmarketing-the-new-rules-of-marketing

`cdn.slidesharecdn.com` and `image.slidesharecdn.com` break images

[2016-12-19 23:13] alexristich commented on #1099
The WebRTC feature in Privacy Badger toggles the internal policy in Chrome which corresponds with the 4 standard modes denoted in the WebRTC specification. Here's a list of these modes:

[code]

Privacy Badger's default is Mode 3, and with protection enabled it is Mode 4. These correspond to internal settings of `default_public_interface_only` and `disable_non_proxied_udp`, respectively.

You can

[2016-12-20 02:30] interfect commented on #1099
I don't think that tinkering with the Chrome console on every launch is a
good solution. I'm a bit biased, because I'm working on an app that expects
WebRTC on local networks to work on every browser launch for long periods.
But it's disturbing that there's no way to have the extension installed and
not have a way to tell it to not interfere with a particular feature,
especially for a trusted site

[2016-12-20 06:34] tl87 commented on #1098
Hello,
I have the same problem with my Privacy Badger, please see attached picture below:
![pb](https://cloud.githubusercontent.com/assets/5989314/21340389/6af5feb6-c686-11e6-844c-b9992a3c794b.png)
Also to note, I've noticed that if you turn on JavaScript and/or Cookies, it sometimes fixes the problem, and Privacy Badger is working as normal, however in previous versions, you did not have to turn

[2016-12-20 15:14] skorokithakis commented on #1098
Same here, I even reinstalled and the sliders still won't show.

[2016-12-20 17:06] gmacon opened #1101 "On firefox, identifying third-party resources only after reload"
When I visit a URL for the first time, Privacy Badger reports no trackers blocked, and the detail pane reports "There are no third-party trackers on this site." Here's an example:

![screen shot 2016-12-20 at 11 54 58 am](https://cloud.githubusercontent.com/assets/238853/21359946/efa9efbc-c6ab-11e6-9729-a124af047ac0.png)

After reloading the page, I get this instead:

![screen shot 2016-12-20 at 1

[2016-12-20 17:38] hwine opened #1102 "PB breaks duo login on FF 51 (beta) & 53 (nightly)"
STR:
 1. enable PB (version 2016.12.15.1)
 2. go to https://login.mozilla.com/duo/ (will need moz account credentials - various folks here have that)
 3. observe "empty" space where duo 2fa options should appear

If you disable PB & reload, the content shows correctly.

Using Chrome 55.0.2883.95 (64-bit), with same PB version, everything works.

The chrome version shows "green" for all 4 URLs dete

[2016-12-20 17:52] albell commented on #1084
@cooperq  Thanks for the response. I'm new to WebExtensions, but I'm looking at:

https://blog.mozilla.org/addons/2016/04/29/webextensions-in-firefox-48/

which says:

With the release of Firefox 48 we are announcing Android support for WebExtensions. WebExtensions add-ons can now be installed and run on Android, just like any other add-on. However, because Firefox for Android makes use of a nativ

[2016-12-20 18:29] BillHarris9 commented on #1095
Also other icons have drop-downs on the same tool bar.

[2016-12-20 19:31] alexristich commented on #1099
I hear you. The option to turn it off altogether seems reasonable. On possibility would be to add a slider allowing for multiple states: "Off, Default, On" or something to that effect. @cooperq what are your thoughts on this?

Unfortunately it doesn't appear to be possible to trust only specific sites, as the WebRTC policy is a global setting in Chrome. Would be nice though!

I'm reopening this is

[2016-12-21 12:58] ghajini commented on #1044
Looks like some interactive discussion taking place here
https://github.com/uBlockOrigin/uAssets/issues/227
about Chicago tribune.com
g00 crap
Instart logic's code

[2016-12-21 20:04] markus2330 opened #1103 "libelektra.org screen wents black"
The website https://www.libelektra.org is completely destroyed on first load when Privacy Badger is enabled:

<img width="960" alt="destroyedpage" src="https://cloud.githubusercontent.com/assets/7949075/21404304/d26a5304-c7c0-11e6-9491-fcec920e7740.png">

Scrolling down and up is enough to fix the issue, but as I use the side very often I had to disable the plugin :cry:

The web page is completely

[2016-12-22 07:06] markus2330 commented on #1103
System is Debian Jessie, firefox-esr 45.6.0, and Privacy Badger 1.9.2.

[2016-12-22 10:44] loekiedepo opened #1104 "Bandsintown can't connect with Facebook"
First let me say I love the addon (using on Firefox on a couple of different PCs).

I'm an artist and use [Bands in Town](https://news.bandsintown.com/home) quite a lot. Recently, I haven't been able to add new shows via Facebook though.
As it turns out, it's Privacy Badger that is actively blocking the connecting javascript from Facebook to BiT (or maybe the other way around, either way I can't d

[2016-12-22 11:30] castor-troy opened #1105 "Privacy Badger crashes in Chromium"
I use Ungoogled Chromium (fork on Ungoogle) Version 55.0.2883.87 (64-bit)
I downloaded privacy badger crx file and installed it manually through settings > extensions. However, it fails to load and crashes everytime within a second. I see that balloon message in chromium saying it crashed and to click on it. But it crashes again when I try to reload the extension.

Is there some log that I can sub

[2016-12-22 17:49] drakofrost opened #1106 "Privacy Badger not working on Google Chrome"
Privacy Badger is not blocking anything on Chrome, if I open the same site on Firefox, several domains appears as blocked, on Chrome everything is being allowed. The issue is reproducible in a clean install, without any other extensions.

OS: Ubuntu 16.04.1
Google Chrome: 55.0.2883.87
Firefox: 50.1.0

Privacy Badger on Chrome

![privacy badger - chrome](https://cloud.githubusercontent.com/assets/2

[2016-12-22 19:26] terrorist96 commented on #1070
http://www.schillingshow.com/2010/11/15/ignoring-is-bliss-why-virginians-can-safely-discard-red-light-camera-tickets/

Zazzle on the right blocked.

[2016-12-22 21:40] jawz101 opened #1107 "/skin/options.html#tab-pb-status instead of sorting as you scroll can you just provide a button for the user to sort the list and resave?"
I'm on fairly new machines and just scrolling through the list of hit sites is dog slow and I can hear my CPU fan fire up.  I'm guessing it's doing the sorting each and every time you open the page and scroll around which is kinda intense.

subdomain5.subdomain4.subdomain3.subdomain2.subdomain1.TopLevelDomain

sorting by subdomain1 > TopLevelDomain > subdomain2, 3, 4, etc. sounds like it'd be easi

[2016-12-22 21:54] alexristich commented on #1105
Thanks for the report. Took a quick look, and it appears this is due to the lack of WebRTC support in Ungoogled Chromium. There's an open issue at #1047 regarding this, and we hope to have a patch pushed after the holidays. Please keep an eye on #1047 for any updates regarding this!

[2016-12-22 21:54] #1105 closed

[2016-12-22 21:56] alexristich commented on #1106
Each browser uses its own individual database of trackers, so it's likely that your database in Google Chrome doesn't have the context or history of your database in Firefox. Would you try exporting your user data from the Firefox instance and importing it into the Chrome instance? You can do this from the Options page (click the little gear cog in the Privacy Badger popup) from the `Manage Data`

[2016-12-22 22:01] JHamberg commented on #1047
This issue can be replicated by running Chromium build 57.0.2959.0 (64-bit) with WebRTC functionalities disabled. The crash is caused by the method `cpn.webRTCIPHandlingPolicy.get` in [background.js#L183](https://github.com/EFForg/privacybadger/blob/master/src/background.js#L183) and can be mitigated by checking if `cpn.webRTCIPHandlingPolicy.get` is `undefined` when enabling IP leakage protection

[2016-12-22 22:05] alexristich commented on #1107
Hi! The bottleneck here isn't actually the lookup, it's the manipulation of the DOM. I'm aiming to spend some time in January on improving this, at least marginally.

For now, the quick workaround is to search for domains you're wanting to look at/modify; this will re-render the HTML with only the results present (limited by default to 50 domains, the rest of which will be loaded on scroll).

[2016-12-22 22:15] qbit commented on #1047
@JHamberg  this is from my OpenBSD box. WebRTC is disabled at build time (`enable_webrtc=false`):

[code]

I have created PR #1097 for this issue already.

[2016-12-22 22:17] drakofrost commented on #1106
I was able to reproduce the issue on a clean install of Ubuntu, Privacy Badger works on Firefox, but does nothing on Chrome. The issue therefore, is not related to my browser history.

[2016-12-22 22:43] JHamberg commented on #1047
@qbit Your solution seems fine and successfully prevents the extension from crashing on load. There is also an an issue with WebRTC setting in the options menu. There are two more methods which need this check `isWebRTCIPProtectionEnabled` in [background.js#L583](https://github.com/EFForg/privacybadger/blob/master/src/background.js#L583) and `toggleWebRTCIPProtection` in [options.js#L472](https://

[2016-12-22 22:43] alexristich commented on #1106
Hmm, in that case if you export the data from the Firefox instance into the Chrome instance, does Chrome start correctly blocking certain trackers, or is it still not blocking any?

Privacy Badger by default doesn't block anything, so it's not surprising that the first time you visit a page nothing will be showing up as blocked. If you visit a series of different sites in sequence, such as `nyt.co

[2016-12-22 22:50] drakofrost commented on #1106
I clean my browsing history quite often, and I don't really use Firefox, I just have it because it's installed by default, so I gave the extension a try. But, yeah, importing the data from Firefox worked, even though the history was clean.

On a side note, Chrome says: "Not from Chrome Web Store", even though it was installed from there.

[2016-12-23 07:36] alexristich commented on #1106
Thanks for the additional information. The "Not from Chrome Web Store" notice is something that @cooperq will be looking into probably after the holiday season.

Would you try leaving the extension enabled for a couple of days while browsing and see if the list of trackers that are blocked grows any? Note that a third-party tracker will only be blocked once Privacy Badger has seen it on three sepa

[2016-12-23 07:47] alexristich commented on #1104
Thanks for the report! This one looks to be a bit tricky. I haven't looked into the specifics of how the plugin works, but it's possible that yellow-listing it _might not_ fix it due to cookies being stripped out from the requests. In general the (yellow) cookieblock list works best for CDNs (content delivery networks) which don't require cookies or authentication to serve content.

For unique cas

[2016-12-23 07:47] #1104 closed

[2016-12-23 08:18] loekiedepo commented on #1104
Thanks for the quick reply, adding to whitelist does help. Maybe it's an option to do this out of the box? Had some issues with viewing BiT widgets on my website because of privacy badger too.

[2016-12-23 15:09] unhammer opened #1110 "Possible to console.log blocked requests?"
(originally https://github.com/EFForg/privacybadgerfirefox-legacy/issues/823#event-887069784 – seems to be still relevant)

I've several times had Privacy Badger block things on pages I'm developing because I test from e.g. localhost and make server request, and each time it takes me quite a while to figure out why e.g. an xhr is giving status 0 and no error message, or a cdn script simply doesn't

[2016-12-23 18:13] drakofrost commented on #1106
I reinstalled Privacy Badger on Chrome and left it running, nothing so far. I will report back later.

[2016-12-23 22:32] iangreenleaf commented on #1101
Exactly my issue! Has made browsing the web really unbearable for the past couple weeks.

Firefox 50.1.0 on Arch Linux
Privacy Badger 2016.12.15.1
Other extensions: HTTPS Everywhere, Lastpass, Greasemonkey, Searchbar Autosizer, Tab Mix Plus

[2016-12-23 23:59] drakofrost commented on #1106
I've been browsing the web for several hours, I visited a significant variety of sites, since I was researching a few things, and Privacy Badger didn't block anything.

[2016-12-24 02:46] Calefornia commented on #1090
Managing block lists hasn't been the goal of this project, and it seems redundant when other great tools exist (uBlock Origin or uMatrix). And because new, random domains won't be included in current lists, we need something else. It might be nice though, since we have the import/export options now. That provides a pretty good shield instead of leaving new browsers to figure it out, but it still d

[2016-12-24 02:52] Calefornia opened #1111 "Importing data to restore/migrate settings is slow"
NEVERMIND! Sorry! It just took a while to load them! I was impatient. Waited about a minute, and then it worked.

------------
MacOS Sierra 10.12.1, Firefox 50.1.0

Trying to load .json preferences into a fresh install of Firefox 50.1.0, and there is an alert saying that it was successful, but it also freezes the browser, leaving the file selection box open and summoning the spinning beach ball of

[2016-12-24 06:40] jawz101 commented on #1107
gotcha.  Thanks mate!

[2016-12-24 08:42] alexristich commented on #1111
Sorry about that! It can be a little slow to load, and I noticed that while writing this feature. I haven't done any specific benchmarking, but I'm guessing it's related to the slowness in re-rendering the HTML to reflect the new state or due to the merge that is required for certain objects in order to check for collisions - not entirely sure. This is something I hope to have time to improve in t

[2016-12-24 08:42] alexristich commented on #1107
Happy to help!

[2016-12-24 08:44] alexristich commented on #1106
Thanks for the additional info. By chance do you have third party cookies disabled in Chrome? That's the only idea that comes to mind right now that might affect it, as you stated it persists even when other extensions are disabled.

Perhaps @cooperq or @ghostwords might have some ideas too?

[2016-12-24 18:58] drakofrost commented on #1106
It's disabled on my main computer, but on my test machine is enabled, and Privacy Badger didn't work in either cases. I also tested on Firefox, and Privacy Badger worked just fine with third-party cookies disabled.

[2016-12-24 19:03] terrorist96 opened #1112 "neimanmarcus.scene7.com breaks image"
http://www.neimanmarcus.com/David-Yurman-Spiritual-Bead-Bracelet/prod180470220_cat540734__/p.prod?icid=&searchType=EndecaDrivenCat&rte=%252Fcategory.service%253FitemId%253Dcat540734%2526pageSize%253D120%2526No%253D0%2526Ns%253Dcat540734%257C0%257C%257CTREE_SORT_VALUE2%257C1%257C%257CWEB1_SORT%257C%257CWEB2_SORT%257C%257CWEB3_SORT%257C%257CWEB4_SORT%257C%257CSELLABLE_DATE%257C1%2526refinements%253D

[2016-12-25 14:11] ungutknut commented on #1101
Same problem here since about a month. It's a huge annoyance.

Firefox 50.1.0 on Xubuntu 16.04 64bit
PB 2016.12.15.1
No further extensions

[2016-12-25 17:58] manarchist8691 opened #1113 "chrome dropdown not showing full window"
there's no way to scroll to the options at the bottom on this site. at least some other sites work ok.
![screenshot 2016-12-25 12 49 19](https://cloud.githubusercontent.com/assets/24766112/21472319/db17c9a8-caa1-11e6-99ef-932d0f392996.png)

[2016-12-25 23:03] terrorist96 opened #1114 "*.nxjimg.com breaks images"
http://www.perksatwork.com/

`img.nxjimg.com`, `imga.nxjimg.com`, `imgb.nxjimg.com`, and `imgc.nxjimg.com` break images on the page.

[2016-12-26 12:18] jony0008 opened #1115 "Use Firefox Sync to synchronize between browsers"
Would be great to use Firefox Sync to automatically sync Privacy Badger rules, it could be an option for users that are concern about sharing information to third parties. An other less user friendly option would be to merge rules from another browser with existing ones in your browser, if you use many computers, e.g. at home and work.

[2016-12-27 04:44] mdaniel commented on #1110
Please take this as a genuine suggestion, and not being glib: have you considered a separate FF profile for development than the one used for your day-to-day? Firefox will allow one to run with both profiles at the same time, it just creates two different instances (which can be good or bad, depending on ones perspective)

[2016-12-28 11:43] safruti opened #1116 "allow scripts from *.perimeterx.net"
PerimeterX offers a cyber security service, protecting websites from automated attacks.
Part of the solution involves a javascript that is loaded with the site's pages, that collects information to help identify if the user is a human or not. This information includes browser fingerprinting, browser attributes, and additional information that can help determine if the user is human.

PerimeterX do

[2016-12-29 14:21] gfab23 commented on #1101
As far as I see it, it does load 3rd party sites, which had been blocked in the past. I think this behavior started around with the update to Firefox 50.1.0. I am running on OS X 10.11.

When I visit sites out of my history or bookmarks PB works properly, e.g. to https://www.heise.de/newsticker/. Also when following any of the links to articles it works. But when I click on a not before visited UR

[2016-12-29 17:21] cementboy commented on #1098
Ubuntu 16.04. Privacy Badger 2016.12.15.1.  Same problem.
![pb](https://cloud.githubusercontent.com/assets/22922694/21549594/23753978-cdeb-11e6-8020-615727f7a9c8.jpg)

[2017-01-01 12:27] m0lz commented on #1047
@JHamberg thanks for the fix, I wondered why I could no longer use PB on the Chromium forks here http://chromium.woolyss.com/ ( typically I use the Stable Installer • Archive • No sync • No WebRTC • No Widevine )

[2017-01-01 18:06] Newrad0603 opened #1117 "2016.12.15.1 still hangs/crashes Firefox 50.1.0"
I uninstalled Privacy Badger previously because it caused Firefox to hang/crash. Today, I saw that a newer version had been pushed, so I installed it, and it caused my Firefox process to peg a CPU core, hung the process, and started growing in memory until the process crashed. Subsequent launches would not show any UI, but a core would be pegged and the memory would grow until Firefox crashed. Dis

[2017-01-02 04:34] terrorist96 opened #1118 "img.washingtonpost.com blocks image"
http://www.nationalreview.com/corner/438960/study-vast-majority-gun-crime-isnt-committed-lawful-gun-owners

`img.washingtonpost.com` breaks image in article body.

[2017-01-03 03:30] brbrewster commented on #1101
I've been experiencing basically the same problem, but it seems to happen when I open a page in a new tab. The page is extremely slow to load, and trackers aren't detected or blocked. After a page refresh, trackers and ads are both detected and blocked.

This is on Ubuntu 14.04 with Firefox 50.1.0.

[2017-01-04 04:32] cooperq commented on #1101
Okay this is extermely strange indeed. I am able to reproduce this in 50.1.0 myself. Suspect it's a bug in web extensions will have to do some digging to figure out where. @ghostwords any ideas?

[2017-01-04 06:29] cooperq commented on #1073
Thanks, fixed

[2017-01-04 06:29] #1073 closed

[2017-01-04 10:31] dhowe commented on #500
I may have missed this elsewhere (apologies if so), but is there any work on verifying that these domains (and their 3rd-parties) are actually following the policy?

This seems a crucial 2nd step for the mechanism, as now any dishonest site can simply post the policy and track DNT-senders (a sought-after demographic) completely freely, whether or not they may be in violation of law, which will lik

[2017-01-04 11:09] michael-oneill commented on #500
It would be good to have a public list of sites that track, how they respond to DNT, whether they support  /.well-known/dnt and/or /.well-known/dnt-policy.txt. It should be easy for a scanner to check for persistent UIDs etc. as PB does. If their sites gets listed unfairly managers could explain how their use of UIDs does not constitute tracking and their explanation then linked to their entry. Th

[2017-01-04 14:38] tanabi opened #1119 "In Firefox, New Window Shows Blocked Privacy Indicator, No Sliders"
Hey there;

Using Firefox 50.1.0 on a Mac.  Privacy badger works correctly in most cases, but when I open a new window, it indicates 1 privacy error ... but clicking Privacy Badger shows no sliders.  I've grabbed the error out of the web console.

![privacy-badger](https://cloud.githubusercontent.com/assets/6575637/21645839/ad76fc54-d261-11e6-80b2-aad34e4b6b15.jpg)

The no-slider screen looks the

[2017-01-04 14:44] tanabi commented on #1119
As a follow-up, this doesn't seem to always happen.  I just restarted my browser and I'm not getting this problem.  However, I've seen it happen a few times before, so I think this may be something that happens over time.  I'm going to keep an eye on it and see if I can reliably reproduce the problem.

[2017-01-04 15:32] terrorist96 commented on #634
Boards have been shut down. This issue is moot.

[2017-01-04 15:32] #634 closed

[2017-01-04 18:00] stephenyeargin opened #1120 ""Pin to Overflow Menu" / "Move to Menu" breaks popup layout in Firefox"
## Steps to Reproduce

1. Install Privacy Badger on a machine running macOS and Firefox 50+
1. Right click on the Privacy Badger icon in the toolbar and select "Move to Menu"
1. Open the menu and click the Privacy Badger icon
1. Observe a broken layout for the controls

## Expected Behavior

- Layout should adjust to fill given space that is roughly 40 pixels narrower than what is allocated

## Sc

[2017-01-04 19:33] cooperq commented on #1058
I notice that your icons are at the bottom of the window. do you have some addon like classic theme restorer or do you have a strange fork of firefox or something like that?

[2017-01-04 19:35] cooperq commented on #1063
sounds good @alexristich I will take a look at your PR

[2017-01-04 20:03] terrorist96 commented on #796
Another example: http://streamfare.com/univisioni.html

`cdngw.ustream.tv`
`static-cdn1.ustream.tv`
`uhs-akamai.ustream.tv`
`www.ustream.tv`

[2017-01-05 01:40] cooperq commented on #1063
fixed by #1109

[2017-01-05 01:40] #1063 closed

[2017-01-05 01:42] mpalmer opened #1121 "Incorrect detection of non-existent server tracking"
This is a follow-on to https://github.com/EFForg/privacybadgerfirefox-legacy/issues/490

We've just got another report of problems: https://twitter.com/flobin/status/816726049748910080

I cannot reproduce this issue myself: Privacy Badger considers `cdn-enterprise.discourse.org` to be quite well behaved on my system.

The CDN being blocked (`cdn-enterprise.discourse.org`) sets no cookies and does

[2017-01-05 01:42] cooperq commented on #1060
I will look into this. Thanks. @ghostwords any ideas?

[2017-01-05 01:43] #691 closed

[2017-01-05 01:46] cooperq commented on #1052
Thanks! Probably some stuff worth adding in here, will look into it.

[2017-01-05 01:48] cooperq commented on #965
@Thorsten-Sick it is my hope that between: cookie block list, script surrogates, multi-domain first parties, and widget replacement that we should be able to fix every broken website. If you guys can open issues for the broken sites you encounter that would be great! Even better if you guys wanted to help submit patches for your biggest problem sites that would be huge!

[2017-01-05 01:50] cooperq commented on #1078
I think that this is the same issue as #1101 do you agree? If so I will keep this issue closed in favor of that one. If not I will re-open.

[2017-01-05 02:13] #1047 closed

[2017-01-05 02:20] cooperq commented on #442
Actually it was a built in adblock plus method which is no longer there. This would need to be written from scratch.

[2017-01-05 02:20] #1057 closed

[2017-01-05 02:22] cooperq commented on #1065
Thanks we will add this to the docs. I can assure you that no tracking or identifying information are collected or stored as a result of these calls.

[2017-01-05 02:29] cooperq commented on #1095
Can reproduce. May be related to #1101. For me the popup usually comes up eventually so this may be something super inefficient about drawing the popup. Should confirm if this exists on dev edition or is fixed.

[2017-01-05 02:32] cooperq commented on #1099
idk, the desire to turn off web rtc protection entirely seems pretty rare (@interfect excluded). That said I'm not opposed to exposing a way to turn this off entirely in the UI but it should be done very carefully so as not to introduce bad UI.

[2017-01-05 02:33] cooperq commented on #1090
um, privacy badger already does automatically block domains which have the potential to be trackers based on their behavior such as setting cookies or super cookies or certain forms of fingerprinting. So, problem solved! Just sit back and let privacy badger scan for you!

[2017-01-05 02:33] #1090 closed

[2017-01-05 02:37] #1107 closed

[2017-01-05 02:41] cooperq commented on #1106
Can you open the debugging console for privacy badger (by clicking 'enable developer mode' and then 'inspect background page' in the chrome extensions page.) and tell me if you see any errors there?
if you go to https://pbtest.org and run the tests there does privacy badger block anything?
Are you using the version of chrome from google directly or a fork? I'm using privacy badger in chrome right

[2017-01-05 02:44] cooperq commented on #1113
Do you happen to have page zoom set to something other than 100% in chrome settings? That seems to cause this issue.

[2017-01-05 02:45] cooperq commented on #1115
You can already import and export your privacy badger settings. Import will merge the settings with any settings that already exist.

[2017-01-05 02:47] cooperq commented on #1110
we could probably add a log message under the debug flag for this.

[2017-01-05 02:48] cooperq commented on #1116
Thanks I will look into this but for now please consider whether you could adopt our DNT policy (https://eff.org/dnt-policy) for PerimiterX.
If you adopt our DNT policy privacy badger will not block your scripts, but I'm not sure if that is possible for your company or not.

[2017-01-05 02:50] cooperq commented on #1098
hmm, this looks related to #1101 closing in favor of that.

[2017-01-05 02:51] cooperq commented on #1117
If you create a fresh firefox profile and install privacy badger do you still have this issue?

[2017-01-05 02:52] cooperq commented on #1119
Looks like a duplicate of #1101 closing this in favor of that.

[2017-01-05 02:52] #1119 closed

[2017-01-05 02:53] cooperq commented on #1120
I think that @groovecoder was maybe trying to fix this issue. Luke, did you come up with anything?

[2017-01-05 02:58] linkp commented on #1115
Export and import is not the same as an automated sync. The former requires an ongoing regimen where the latter lets the machines do the tedious work.

[2017-01-05 03:04] cooperq commented on #1115
We will consider adding support for chrome sync #645 and firefox sync.

[2017-01-05 03:07] sohkamyung opened #1122 "Mobile twitter not registering likes or reshares in Firefox"
Visit mobile.twitter.com as a twitter user in Firefox. 'Like' a tweet, and refresh the page. The 'like' is gone from the tweet.

I have to disable the Privacy Badger add-on completely to make mobile.twitter.com functional. Disabling Privacy Badger on just that web page is not good enough.

I tested this on a new Firefox Profile with just the Privacy Badger add-on installed to get the bug.

[2017-01-05 03:11] manarchist8691 commented on #1113
Yes, I default to 125%. Guess I can change that if need be. Thanks.

On Wed, Jan 4, 2017 at 9:44 PM, Cooper Quintin <notifications@github.com>
wrote:

[2017-01-05 03:19] drakofrost commented on #1106
Privacy Badger passed in all tests, but doesn't block anything in other sites.

I use Google Chrome, I have Google's repository on Ubuntu, which means that as soon as a new version is released, I receive the update. The current version is: 55.0.2883.87.

[2017-01-05 08:19] Flobin commented on #1121
Hi everyone–this was indeed my screenshot. My browser is chrome 55.0.2883.95 on macOS Sierra 10.12.3. Other extensions include uBlock origin, WebRTC Leak Prevent, and HTTPS Everywhere. Here’s a cleaner screenshot that doesn’t include my email 😉

![screenshot](https://i.imgur.com/SAInhqI.png)

[2017-01-05 11:23] kehugter commented on #1117
Privacy Badger 2016.12.15.1
Firefox 50.1.0 from Debian repos
Debian testing
Linux 4.8.0-2-amd64

Having the same issue. Firefox starts, puts a 10-15% load on the CPU and fills the memory at ~40mbps. Disabled all other extensions, issue persists.

I can start Firefox __once__ with the following procedure:
- disable Privacy Badger from `--safe-mode`
- restart Firefox
- enable Privacy Badger, Firefox

[2017-01-05 13:14] Shifterovich opened #1123 "Can't download the database in Chrome"
Clicking the "Download" button (under "Export user data") doesn't do anything. The "Import" button probably works (file dialog shows).

[2017-01-05 14:17] dhowe opened #1124 "Is there a way for non top-1000 sites to get on the DNT list?"

[2017-01-05 16:36] duncanparkes commented on #1078
I think these are two independent bugs.

My problem has nothing to do with having visited a URL before. If I open a URL in a new tab, PB doesn't see any trackers. If I open the same URL again in a new tab, the same thing happens. If I copy the URL, open a new tab, paste the URL in the location box and press enter, then PB works as expected.

[2017-01-05 19:22] ghajini commented on #1044
@cooperq any suggestions

[2017-01-05 19:45] hungerburg commented on #1078
On the visible surface, these are different issues, I side with @duncanparkes - I see both, so depending on the inner workings of FF and PB though, the fix for the other might cure this one too - very likely only a fix for the other issue will show!
PS: It started when FF upped to 50 something from the immediately preceding release, "ps" shows just one firefox process; the only other add-on active

[2017-01-05 20:57] alexristich commented on #1121
@Flobin In your second screenshot it looks like you have a manually overriden setting for this domain. If you click the arrow on the right to revert it, does it still revert to being blocked?

@cooperq I can't check at the moment, but I wonder if there's a way to manually run the DNT recheck in case it's out of date?

[2017-01-05 20:59] alexristich commented on #1123
Hmm, is it showing any errors in the developer console in Chrome? This might be related to the use of base64 instead of UTF-8 for encoding, which should be fixed in the next push.

[2017-01-05 21:00] ghostwords commented on #1101
Looks like `onBeforeRequest` never fires for frame 0 for pages I control-click to open into a background tab. Since `tabData` never [gets populated](https://github.com/EFForg/privacybadger/blob/6f0745bb9af0d3b4fa78a7217e8c17b3ccf32763/src/webrequest.js#L58-L60) for frame 0, this breaks processing potential trackers ([`checkAction` always returns false](https://github.com/EFForg/privacybadger/blob/

[2017-01-05 21:02] Shifterovich commented on #1123
Right, I thought I checked the console, but apparently did not.

[code]

Indeed an encoding issue.

[2017-01-05 21:05] alexristich commented on #1123
Awesome, thanks for the verification. This one was totally my fault by the way :) Not sure when the next push is planned but presumably very soon, so once that's up the export should work again!

[2017-01-05 21:05] #1123 closed

[2017-01-05 21:06] ghostwords commented on #1101
If your findings agree with mine, I suggest making a minimal addon to demonstrate the problem to Firefox Web Extensions people. Do other Web Extensions `chrome.webRequest`-using addons also run into this?

[2017-01-05 21:09] alexristich commented on #1124
Certainly; the list is "discovered" dynamically. The logic is basically such that if Privacy Badger sees a site, it will check for DNT compliance by looking for a file hosted at a defined location. A given instance of Privacy Badger doesn't have a huge list of DNT-compliant domains shipped with it.

Here's more info on DNT compliance: https://www.eff.org/dnt-policy

Hopefully this answers your que

[2017-01-05 21:09] #1124 closed

[2017-01-05 21:10] ghostwords commented on #1101
Is [this](https://bugzilla.mozilla.org/show_bug.cgi?id=1293583) the relevant Firefox bug?

[2017-01-05 21:14] cooperq commented on #1124
I think @dhowe  is talking about the list that we are generating for third parties to consume. We actually scan the alexa to 1 million. But for domains not on that list they would have to notify us in some way for now. I think the ideal solution to this problem would be for privacy badger to notify us about any encountered DNT domains if the user opts-in to such reporting.

[2017-01-05 21:22] ericfont opened #1125 "causes conflict with AdNauseam: failed to modify the response header "set-cookie""
I have had PrivacyBadger 2016.12.15.1 and now just installed AdNauseam 3.0.4 on Chrome Win 10 Home 1607. When I visit http://www.cnn.com/2017/01/05/us/chicago-facebook-live-beating/index.html Chrome reported extension error for PrivacyBadger:

"This extension failed to modify the response header "set-cookie" of a network request because the modification conflicted with another extension (AdNauseam

[2017-01-05 21:31] ghostwords commented on #1101
Oh sorry, looks like I was looking into issue #1078, which may or may not be the same as this one.

[2017-01-06 04:29] rdetert commented on #1090
Maybe I just have no idea how to use Privacy Badger ;) It detects the trackers but all the switches are flipped to green, which I assumed meant they were being allowed to process. I have been manually training it to block the domains or cookies via red / yellow switches. My original question was just meant to flip everything to red, blacklisting it, and then re-enabling them to unbreak sites I vis

[2017-01-06 17:23] cooperq commented on #1120
@groovecoder I just looked it up and it should have been in the last release @stephenyeargin what version of privacy badger do you have?

[2017-01-06 17:27] stephenyeargin commented on #1120
@cooperq `2016.12.15.1`, installed via the site on January 4.

[2017-01-06 17:30] cooperq commented on #1090
https://www.eff.org/privacybadger#faq-How-does-Privacy-Badger-work?

Hmm interesting feature idea but I'm hesitant to implement such an option because I think it would be used by a small number of people and I would llke to avoid feature creep. Thanks though!

[2017-01-06 17:33] cooperq commented on #1120
Yep that's the latest version. @groovecoder I guess we should check on your fix, hopefully it didn't get reverted somehow.

[2017-01-06 17:35] cooperq commented on #1122
can not reproduce this. What version of firefox and what version of privacy badger are you using?

[2017-01-06 17:37] cooperq commented on #1113
That would be a good workaround for now. We should probably support larger font sizes long term though.

[2017-01-06 17:39] cooperq commented on #1106
hmm, very strange. In a fresh profile can you open as many different domains as possible (one good way to do this is via reddit) and see if anything starts to get blocked? I am completely unable to reproduce your issue and it sounds like privacy badger is  working correctly if the pbtest.org tests passed...

[2017-01-06 17:41] cooperq commented on #1117
yea those warnings are fine. I think the issue is with privacy badger trying to migrate your old data. I bet you have a lot of domains in your profile!

Does deleteing privacy badger entirely, restarting firefox, and then reinstalling privacy badger fix the issue?

[2017-01-06 17:42] cooperq commented on #1121
There is but I want to see if @Flobin  clicks the arrow if that fixes the problem. I'm thinking it should. If not we will dig into storage and see when it is due to be rechecked.

[2017-01-06 17:44] cooperq commented on #1125
This is not an issue for either addon actually, just bad ui in chrome. both extensions are compatible and are working fine together despite this error.

[2017-01-06 17:44] #1125 closed

[2017-01-06 17:46] cooperq commented on #1101
I think it's probably the same issue. I bet onBeforeRequest isn't getting fired, that's definitely what it looks like from the outside.

[2017-01-06 17:57] jawz101 commented on #809
xda forums use algolia.net for [their search engine](https://forum.xda-developers.com/search).  That's my example because I use them often.  In NoScript I have to whitelist algolia.net and cloudflare.com to search anything on their site.

[2017-01-06 18:15] ghostwords commented on #1098
@cooperq Does disabling JavaScript in Firefox break Web Extensions? Another report [here](https://github.com/EFForg/privacybadger/issues/1058#issuecomment-267842902).

[2017-01-06 18:17] ghostwords commented on #1101
@groovecoder Could you take a look please?

[2017-01-06 18:18] ghostwords commented on #1119
Hi @tanabi, do you have JavaScript disabled by any chance?

[2017-01-06 18:25] ghostwords commented on #1060
@NihilNon @KidPluto Do you have JavaScript disabled in Firefox by any chance? Could this be a conflict with NoScript?

[2017-01-06 18:36] ghostwords commented on #1060
Ah, looks like this is a browser popup-specific issue: `TypeError: backgroundPage is null` thrown by [popup.js:22:5](https://github.com/EFForg/privacybadger/blob/6f0745bb9af0d3b4fa78a7217e8c17b3ccf32763/src/popup.js#L22). @groovecoder Does this seem like a Firefox Private Mode issue?

[2017-01-06 19:31] ghostwords commented on #1111
Yeah, this is a performance bug.

[2017-01-06 19:41] tanabi commented on #1119
No, Javascript is enabled.

I actually suspect it might have been an interaction with an add-on that caused it, but I haven't been able to reliably reproduce it yet.

[2017-01-06 20:12] ghostwords commented on #1101
I filed a new [Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1329299).

[2017-01-06 20:21] ghostwords commented on #1060
I filed a [Mozilla Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1329304).

[2017-01-06 20:29] alexristich commented on #1111
@cooperq @ghostwords Maybe I should update the wording on this popup to say something like `Your imported data is now being processed. Depending on the size of your imported file, it may take a minute or two for your tracker list to fully update.` ? This might clarify the situation better, as the confirmation popup currently appears while the asynchronous calls to `storage` are being made.

[2017-01-06 20:56] cooperq commented on #1060
According to mozilla:

So we need to re-architect to use `chrome.extensions.sendRequest()` perhaps to communicate with the background page. This might have the side effect of fixing some other bugs as well.

[2017-01-06 20:58] cooperq commented on #1111
I would say put up a spinner or loading bar and wait for some condition to be met before dismissing the popup.

[2017-01-06 21:08] alexristich commented on #1111
That works. I was originally thinking of adding a loading spinner w/ jQuery to the page itself, though opted for the popup instead. I'll see what I can do to switch this over to something more UX friendly.

[2017-01-06 22:13] dhowe commented on #1124
Exactly, sorry for my lack of clarity above... Your suggestion sounds good, perhaps in combination with some form or email address (short-term) where over-eager domain admins (talking about myself here, for example) could get on board...

Also would be great if there was a way for such domains to self-test (not sure exactly what this would involve, but some kind of spidering script that looks at c

[2017-01-06 22:47] ghostwords commented on #1060
This definitely needs more exploration by us, but I updated the Mozilla ticket with some things to look into. Not sure this isn't indeed a Firefox bug.

[2017-01-06 22:51] ghostwords commented on #1111
Also, when (lots of ...?) and why (DNT calls?) is it slow? Ideally wouldn't be slow reasonably ever at all, no need for extra UI then.

[2017-01-06 22:53] ghostwords commented on #1111
Making it never slow would be my preference. Otherwise, there are lots of techniques to avoid locking up the UI ... Putting up a message is good, but might still end up in an unresponsive page or even browser. Might also need to introduce delays into some overeager loop, or even use Web Workers.

[2017-01-06 23:02] alexristich commented on #1111
I haven't done any benchmarking yet, but my hunch is that it's related to the `recordPrevalence` call that is currently called for every item in `snitch_map`.

[2017-01-06 23:05] ghostwords commented on #1111
If that is it, it would be a great thing to optimize because `recordPrevalence` is called all the freaking time during normal operation!

[2017-01-06 23:22] kehugter commented on #1117
This ones? Yes, they look quite long and duplicated. Is that a result of the failed migration?

[code]

[code]

Nope, hangs after installing.

[2017-01-07 03:17] Newrad0603 commented on #1117
Creating a new profile worked for me as well, but I'd prefer to to have to use that solution :)

I have tried uninstalling PrivacyBadger and reinstalling it many times on the existing profile to no avail (still hangs). I did setup up a fair number of custom settings for various sites. Is there cached data somewhere that can be deleted that is being left behind when Firefox uninstalls the extension

[2017-01-07 13:45] groovecoder commented on #1120
Hmm ... looks like my fix was specific to the #instruction element. I'll send another PR that makes it work for the whole body element.

[2017-01-07 19:11] groovecoder commented on #1101
I'm unable to reproduce this on Mac OS Firefox 51.0b12 (beta) running a fresh profile with no other extensions.

1. When I load a page, trackers are blocked the first time a page is loaded
2. When I ctrl+click to open a link in a new tab, trackers are blocked the first time a page is loaded
3. When I add a `console.log` statement to the `onBeforeRequest` listener in both `webrequest.js` and `backg

[2017-01-07 20:52] groovecoder commented on #1098
Hmm ... our [mozilla/blok Web Extension](https://github.com/mozilla/blok) doesn't execute its background script when JavaScript is disabled. But our [codesy/widgets Web Extension](https://github.com/codesy/widgets) content scripts still work. So maybe it's only background scripts that don't work with JavaScript disabled?

[2017-01-09 08:11] sohkamyung commented on #1122
Firefox version:  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0
Privacy Badger version: 2016.12.15.1

BTW, I'm not getting consistent behaviour on this. On another of my systems (Windows 10), Firefox is still getting this problem, even with Privacy Badger disabled.

I will try to update this with more information after further debugging.

[2017-01-09 13:25] sohkamyung commented on #1122
Confirm that I can reproduce this bug on a different system:

Firefox version: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:51.0) Gecko/20100101 Firefox/51.0
Privacy Badger Version: 2016.12.15.1

[2017-01-09 18:26] mixedpuppy commented on #1101
I've commented on the bugzilla bug requesting some terminology clarification and further verification that this only affects 50.

[2017-01-09 19:22] ghostwords commented on #1098
Opened a Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1329731

[2017-01-09 19:35] alexristich commented on #1122
We're still having trouble reproducing this - I tried in FF 50 and 51 but no dice. Would you list the domains on this page that are showing as blocked or cookieblocked as per the Privacy Badger popup? Also, if you open the developer console in Firefox do you notice any errors showing?

[2017-01-09 19:45] cooperq commented on #1122
Actually I am not able to reproduce this. I think that maybe one of our content scripts is loading even when badger is disabled and is breaking a script loaded by api.twitter.com.

@sohkamyung as a workaround for now can you just use non-mobile twitter?

[2017-01-09 20:48] ghostwords commented on #1101
I couldn't reproduce with a fresh profile in 51.0b12 (beta) and 52.0a2.en-US.linux-x86_64 (dev). Then I tried a fresh profile with Firefox 50.1, and Privacy Badger seemed fine there too, pages opened into new tabs and pages opened directly. Can still reproduce with my existing browser profile with Firefox 50.1 ... I wonder what the difference is.

[2017-01-09 21:40] terrorist96 opened #1127 "*.edgesuite.net breaks video"
http://www.wdrb.com/story/34206691/senate-passes-bill-making-kentucky-right-to-work-state

`players.edgesuite.net` breaks video. Move to yellow.

[2017-01-09 23:07] terrorist96 opened #1128 "add *.myshopify.com to cookie blocklist"
http://www.tryhighspeed.com/

`realoasistv.myshopify.com` blocks the page from loading

[2017-01-09 23:25] cooperq commented on #1124
Agreed I think an email address and a self reporting feature in privacy badger are the way to go . A self test tool is also not a bad idea. cc @pde

[2017-01-09 23:26] cooperq commented on #1117
deleting both of the files that @kehugter mentions should do the trick. Note that this will delete all of your privacy badger domains and settings, so it will effectively completetly reset privacy badger but if it works again maybe that is an acceptable trade-off.

[2017-01-09 23:27] cooperq commented on #1098
We should confirm that this is the case in privacy badger as well.

[2017-01-09 23:28] cooperq commented on #1101
Cool, looks like we need to do some more testing then.

[2017-01-10 00:10] ghostwords commented on #1101
Now I can reproduce in a fresh profile with Firefox 51 on all pages, opened into a new tab or not. Same laptop, same Firefox as three hours ago ... no idea what governs whether I get the bug or not.

To recap, the problem is that while we do get a details object of type "main_frame" as expected, its frameId is not 0, which breaks expectations. For example:

![screenshot from 2017-01-09 19 03 32](h

[2017-01-10 00:27] mixedpuppy commented on #1101
@ghostwords is that consistent?  ie. you **always** get a call to the listener as expected, but the frame_id is wrong, and you were filtering on frame_id == 0?

[2017-01-10 00:40] cooperq commented on #809
@asurak can you run the following code for me in your main profile in the privacy badger debug console:
`_.each(badger.storage.action_map.getItemClones(), function(v,k){if(k.indexOf('algolia') > -1){console.log(k, v.dnt, new Date(v.nextUpdateTime))}}); console.log(a);` and paste the output here?

[2017-01-10 02:42] Newrad0603 commented on #1117
That seems to have done the trick. I can now use FF and PB again! Thanks for the help.

[2017-01-10 03:11] ghostwords commented on #1101
Yes, I think so. We should never get a details object of type "main_frame" and a non-zero frameId, no?

[2017-01-10 18:05] groovecoder opened #1130 "Are there still privacy badger dev meetings?"
I'm not sure where to find info about privacy badger dev meetings anymore. Are the meetings cancelled? Some additions to the README could help - mailing list, IRC channels, public meetings, etc.

[2017-01-10 19:25] cooperq commented on #1130
Sorry Luke! I posted something to the privacy badger list on friday are
you subscribed to that? We are now meeting on Mondays and Fridays at 11
Pacific. Same Channel.

Fixes #1130

On 01/10/2017 10:05 AM, luke crouch wrote:

[2017-01-10 22:17] mixedpuppy commented on #1101
Is my last response in the bugzilla bug acceptable?

[2017-01-10 22:18] groovecoder commented on #1130
Where is the privacy badger list? ;)

On Tue, Jan 10, 2017 at 1:25 PM, Cooper Quintin <notifications@github.com>
wrote:

[2017-01-10 22:20] mixedpuppy commented on #1101
ie. due to timing and inability to reproduce on 52/53, I'm inclined to wontfix the problem, but you'd have to address that on your end.

[2017-01-10 22:56] cooperq commented on #1130
https://lists.eff.org/mailman/listinfo/privacybadger

[2017-01-10 22:59] cooperq commented on #1101
@mixedpuppy  Do you think it would be possible to track down the patch that fixes this in 52 and uplift it to 51? I can post this comment in bugzilla if that is more appropriate.

[2017-01-10 23:01] kehugter commented on #1117
Closed? PB may still crash browsers in the future, expecting users to delete a random file in the profile shouldn't be the fix.

[2017-01-10 23:47] ghostwords commented on #1130
Should document all this (in the README?), as suggested.

[2017-01-10 23:47] mixedpuppy commented on #1101
My assumption is that you can fix this on your end by not relying on frameId in combination with main_frame, is that not correct?  Uplift to 51 would be a huge quagmire at this point.

[2017-01-11 14:27] ghostwords commented on #1101
@mixedpuppy Yep, that sounds good. I'll open a Privacy Badger pull request shortly.

[2017-01-11 17:46] DevbrosDevelopment commented on #1106
Chrome Version 55.0.2883.87 (64-bit)
OS Ubuntu 16.04

I am having the same issue. I tried privacy badger for a few hours now and cannot get it working properly. It is blocking nothing. I disabled all other extensions and visited many sites from different domains. This is my developer console
![screenshot from 2017-01-11 18-42-19](https://cloud.githubusercontent.com/assets/15052050/21859766/40ed9cf

[2017-01-12 04:13] LargePrime opened #1132 "breaks paypal. report does not work"
came to say this breaks paypal.  perhaps issue #1052 ?

tried to report, and get Oops, something went wrong.

[2017-01-12 05:03] pvsomebody opened #1133 "Allow an option to show placeholders for blocked elements if feasible"
It allows the web page to look more visually similar to how it was meant to by its designers before you turned up PrivacyBadger; for example, AdBlock and uBlock have an option do it and it works great.

[2017-01-13 13:18] digulla opened #1134 "Ghostery interferes with Privacy Badger"
Google Chrome (55.0.2883.87) reports "Problems with extensions" (German text). When I go to chrome://extensions, I see:

[code]

Translation: "Warning: The extension couldn't forward the network request to ...first-js-data-url... because another extension (Ghostery) has forwarded it to ...second-js-data-url..."

I've logged a support request with Ghostery and will comment here what they say.

[2017-01-13 13:22] digulla commented on #1134
Ghostery is tracking this as issue 11612.

[2017-01-13 19:11] eshellman opened #1135 "I don't think Privacy Badger considers tracking via TLS token ids."
With the implementation of TLS Token Binding in Chrome and in Google services, Privacy Badger should consider "channel ids" to be the equivalent of non-expiring ID cookies. See https://tools.ietf.org/html/draft-ietf-tokbind-https-07#page-17 Advertising companies already have started to use this to replace conventional tracking cookies. OS X Chrome saves the token ids in an SQLite file at "~/Librar

[2017-01-13 20:02] eshellman commented on #1135
https://go-to-hellman.blogspot.com/2017/01/googles-crypto-cookies-are-tracking.html

[2017-01-13 20:08] jawz101 opened #1136 "what if we could maintain community rulesets?"
Take a look at another add-on, Karma Blocker.  It can pull in rulesets for his add-on by simply pasting in a Gitub Gist url.  If we had a curated ruleset it would be a pretty handy way to get updates for some things which are currently hardcoded.

https://addons.mozilla.org/en-US/firefox/addon/karma-blocker/

https://github.com/arantius/karma-blocker

![untitled](https://cloud.githubusercontent.co

[2017-01-13 22:46] rvaneijk commented on #500
@cooperq, @pde, @dhowe could you please post a note here on the status? It would be great to have privacybadger aligned with the w3c .well-known URI.

Best regards,
Rob

[2017-01-13 23:02] rinaldi6109 opened #1137 "switch not reflecting choice in user filter settings"
When I modify a setting for a potential tracker moving it from blocked to allowed or viceversa, and scrolling up and down, sometimes the switch icon is red and on the right or green and on the left.
See screenshot. http://imgur.com/a/uTanO

[2017-01-13 23:32] terrorist96 commented on #1003
http://6abc.com/news/armed-man-shoots-alleged-attacker-in-olney/1696851/

[2017-01-13 23:34] terrorist96 commented on #1023
http://www.12news.com/news/local/arizona/good-samaritan-shoots-kills-suspect-beating-wounded-dps-trooper-on-i-10/385436931

[2017-01-13 23:35] terrorist96 commented on #1003
http://abc7.com/news/az-trooper-shot-in-ambush-attack;-good-samaritan-kills-gunman/1699112/

[2017-01-14 03:27] dhowe commented on #500
The DNT option is now included in AdNauseam >= v3.0 (enabled by default), though it did take a fair bit of engineering to get it all working correctly...

![screen shot 2017-01-14 at 11 25 56 am](https://cloud.githubusercontent.com/assets/737638/21952020/5ccf4872-da4c-11e6-8831-82c2525c3f79.png)

[2017-01-14 06:51] terrorist96 opened #1138 "sucdn.sphereup.com breaks image"
http://grammarist.com/spelling/council-counsel/

`sucdn.sphereup.com` breaks magnifying glass image on left.

[2017-01-14 22:34] kehugter commented on #1117
^ @cooperq

[2017-01-15 00:50] terrorist96 opened #1140 "add *.webs.com to cookie blocklist"
http://www.customrankchart.tk/

`theibinvestigation.webs.com` blocks the site from loading.

[2017-01-16 18:07] terrorist96 opened #1141 "PB causes long loading/ads to show"
`http://www.sun-sentinel.com/`

When PB is enabled, the site takes a lot longer to load and ads will be displayed.
The following rules will need to be added to your ad blocker:
[code]

I can't narrow it down to any specific rule. Just having PB enabled seems to be enough to cause it.
See here for details:
https://github.com/easylist/easylist/issues/242

[2017-01-17 10:49] eogrul opened #1143 "add *.philips.com to cookie blocklist"
Hi,

Is it possible to add *.philips.com to cookie blocklist? Privacy Badger is blocking the page content, images, products, forms which are coming from crsc.philips.com, images.philips.com and consumer.philips.com?

Thanks in advance!

Eren

[2017-01-17 11:54] Boldewyn opened #1144 "Breaks ServiceWorkers in Firefox"
Service Worker requests are intercepted as well. In some occasions this leads to a completely broken website.

Given the power of [Service Workers](https://www.w3.org/TR/service-workers/) intercepting them might be a good idea, but when this leads to the site becoming completely unusable, it should be turned off for the time being.

Screenshot: [Smashing Magazine](https://www.smashingmagazine.com/

[2017-01-18 02:41] cooperq commented on #1132
Thanks we will look into it.

[2017-01-18 02:43] cooperq commented on #1134
This is a non-issue. Both of the plugins still work, just if they try to do the same thing only one of them can do it. This is a case of bad-ui in google chrome. Nothing that we can fix, and nothing to fix.

[2017-01-18 02:44] cooperq commented on #1135
Indeed it is not, though I'm not sure that there is a way for us to track this in the chrome API. It is probably worth filing a bug in chrome and firefox to fix this so that we can detect and block this sort of tracking.

[2017-01-18 02:45] cooperq commented on #1136
You could do this right now with imports and exports if you have a good ruleset you would like to import. I am reluctant to canonicalize this in any other way since we have a "no blacklists" policy.

[2017-01-18 02:45] #1136 closed

[2017-01-18 02:48] cooperq commented on #1117
@kehugter good point, thank you. I think we have figured out the source of the slowness and should have a fix in the next build. See #1145

[2017-01-18 02:52] cooperq commented on #1143
Can you give an example where these domains are being blocked?

[2017-01-18 02:53] cooperq commented on #1144
Hmm, that's strange. Privacy Badger shouldn't be blocking any service workers unless they are from a third party domain which is also blocked by privacy badger. Will have to look into this deeper.

[2017-01-18 07:54] Boldewyn commented on #1144
I don't know, what exactly triggered the issue. [Apparently](https://twitter.com/smashingmag/status/821325629345976324) the owner himself uses PB, too.

[2017-01-18 08:00] eogrul commented on #1143
Hi Cooper,

For example; philips.nl

You can check the attachment also.
![pb](https://cloud.githubusercontent.com/assets/7956002/22055633/6a737d6e-dd5c-11e6-9e8a-3318f9beb216.png)

Eren

[2017-01-18 18:16] #1078 closed

[2017-01-18 18:18] cooperq commented on #1101
fixed by #1131

[2017-01-18 18:18] #1101 closed

[2017-01-18 21:26] eshellman commented on #1135
you should be able to partly address this by cookie blocking the top domains that shouldn't be tracking at all - gstatic.com, googleapis.com, etc.

I've not gotten anything back on my chrome bug report (focused on channel ID UI); I don't know enough about the API to file a bug on that aspect.

[2017-01-19 05:24] terrorist96 commented on #1030
https://theintercept.com/2017/01/18/trump-education-nominee-betsy-devos-lied-to-the-senate/

`content.jwplatform.com`
`videos-f.jwpsrv.com`

and `assets-jpcust.jwpsrv.com` breaks the video thumbnail

[2017-01-20 19:36] ghajini commented on #1141
Related to #https://github.com/EFForg/privacybadger/issues/1044

[2017-01-22 22:38] austin987 opened #1148 "Unable to use Google Docs when Privacy Badger is active in Iceweasel/Firefox"
I suspect this is a regression, as I usually have Privacy Badger installed, but can't guarantee I did in this browser  before.

Anyway, using Iceweasel (Firefox) 45.6.0 ESR on Debian Unstable amd64. I've noticed that if I open a Google Doc, I get an error, similar to that described here (https://productforums.google.com/forum/#!topic/docs/tQBnRham2T8)

"Unable to load file
Try to load it again or

[2017-01-23 10:23] digulla commented on #1134
Reply from Ghostery:

[2017-01-23 10:38] digulla commented on #1134
@cooperq Thanks, I start to understand the error better, now. At first, it looked like your extension is trying to load a resource (to work properly) and Ghostery intercepts that.

Instead a page makes a request, both plugins intercept it, and do something different with it. Chrome is them confused what it should do.

I'm curious how Ghostery suggests to fix this.

[2017-01-23 18:14] ghostwords commented on #1148
Same issue as #1087?

[2017-01-23 18:38] sgurnick opened #1149 "Cookies and Domains not blocked in Firefox when opening link in new tab"
Using Firefox 50.1.0 on MacOS 10.12.2 (Privacy Badger 2016.12.15.1), when I right-click on a link and select "Open Link in New Tab" or when I simply use the middle-click feature on my mouse to open the link in a tab, Privacy Badger reports zero blocked cookies/domains.

When I left-click on the link to open the URL in the same tab or when I right-click on the link and select "Open Link in New Wind

[2017-01-23 18:42] ghostwords commented on #1149
Should be fixed by #1131.

[2017-01-23 18:42] #1149 closed

[2017-01-23 19:18] stupidg1t opened #1150 "technical info"
1. it would be helpful if it specified what method was used to identify each domain as tracking (image/cookie/fingerprint), though it doesn't appear to store.json that information.
2. since i block cookies, images, cross-domain iframes and scripts, is this (or any tracking blocker, e.g. ghostery) at all useful? for example, if i enable JS in Noscript for a domain which contains a tracking script (

[2017-01-23 22:14] ghostwords commented on #1150
1. Good idea! Please subscribe to #963.

[2017-01-23 22:18] ghostwords commented on #1150
2. You could try using both addons together and then at some point see if Privacy Badger learned to block some trackers. If it did, you might want to keep it, and if it didn't, then your workflow probably makes it unnecessary.

[2017-01-23 22:18] #1150 closed

[2017-01-23 23:29] cooperq opened #1151 "googletagservices.com script surrogate breaks doodle.com"
The script surrogate for googletagservices.com seems to break on doodle.com. It can be fixed by moving googletagservices.com to yellow but we should fix the surrogate instead.

cc @ghostwords

[2017-01-24 19:07] ghostwords commented on #1151
Filed https://github.com/uBlockOrigin/uAssets/issues/277.

[2017-01-24 22:08] cooperq commented on #1151
Workaround in dc9013e7dcefabed9856860185edd1131b7fb20a
Should be reverted once this is properly fixed.

[2017-01-24 22:09] cooperq commented on #1148
Cutting a new release today 2017.1.24 please re-open if this release doesn't fix it. It could also be a bug in the Web Extensions support in firefox ESR.

[2017-01-24 22:09] #1148 closed

[2017-01-24 22:10] ghostwords commented on #1151
I'm not sure Google Tag Services is worth yellowlisting because of a single domain ...

[2017-01-24 22:11] cooperq commented on #1143
fixed in #1152

[2017-01-24 22:11] #1143 closed

[2017-01-24 22:11] cooperq commented on #965
Thanks! And I should have a fix for vk.com in #1152 which will go out today.

[2017-01-24 22:11] #965 closed

[2017-01-24 22:13] cooperq commented on #1130
Added to readme.

[2017-01-24 22:13] #1130 closed

[2017-01-24 23:00] alexristich commented on #1111
This should be fixed in #1145, which will be in the next release. If you notice any other issues here please feel free to follow up!

[2017-01-24 23:00] #1111 closed

[2017-01-25 00:11] cooperq commented on #1151
Looking through the broken sites list I actually expect that it breaks a
couple of other things as well.

On 01/24/2017 02:10 PM, Alexei wrote:

[2017-01-25 01:26] terrorist96 opened #1153 "Move `*.cloudinary.com` to yellow list"
Move `*.cloudinary.com` to yellow list. Blocks images: https://www.apartmentlist.com/cycle?category=E1&category_rank=0&index=0&pane=listing&rids%5B%5D=p68898&rids%5B%5D=p17422&rids%5B%5D=p26341&rids%5B%5D=p23136&rids%5B%5D=u42822807&rids%5B%5D=u42861803

[2017-01-25 10:42] dsheroh opened #1154 "Intermittently blocks site which is being viewed"
Thus far, I've only seen this on Facebook, but the site occasionally stops working because, while viewing https://www.facebook.com/, Badger decides to completely block (red slider) www.facebook.com.  Reloading the page restores access.  I assume that it is possible for the same to also happen with other sites.

Shouldn't there be a global "never block the site which the primary content is being vi

[2017-01-25 20:29] jawz101 commented on #1052
@cooperq I made a little commit in a Fork with the proposed additions.  I didn't address the redditenhancementsuite.com thing but the rest of them are in there.

My other head scratcher is on the alibaba domains because it seems like they own a bunch of similar domains which share logins but I guess that's probably how they do things.

[2017-01-25 23:11] FixitMad opened #1156 "Under Firefox 45.7.0esr PrivacyBadger breaks the login to www.bhphotovideo.com"
This is happening as of today. I upgraded Firefox to 45.7.0esr yesterday. Today when I tried to login to https://www.bhphotovideo.com/, I kept getting the Sorry!! Please try again soon. Chatting with Tech Support at https://www.bhphotovideo.com/, they indicated their site was working fine. I can log into this website using IE.  When I disable Privacy Badger under Firefox 45.7.0esr, I can then log

[2017-01-26 00:16] tigt commented on #1055
I just had this issue, after FF Nightly crashed (as it's wont to do). I previously had www.irccloud.com whitelisted and things worked okay.

Firefox OSX 54.0a1 (2017-01-24) (64-bit)
Privacy Badger 2017.1.24.1

[2017-01-26 00:24] tigt commented on #1055
CAUGHT ONE. I have the output of the JS and browser consoles at https://gist.github.com/tigt/c97b56d780864cc01d1a1a6d70e2ef15

[2017-01-26 02:14] cowlicks commented on #1135
@eshellman do you have a link to your chrome bug report?

[2017-01-26 02:41] eshellman commented on #1135
I reported it to Google fonts as a security issue and got a case number  [9-3181000015161]  but no link. I reported it to Chromium as a privacy issue but received no response at all.

[2017-01-26 04:20] cooperq commented on #1135
Since google uses this anti-feature I doubt we will get them to do
anything about it.

On 01/25/2017 06:41 PM, eshellman wrote:

[2017-01-26 06:14] aphid opened #1157 "pb breaks ocrad.js library in firefox 52, disabling for site does not fix"
fails in firefox 52 (linux), worked in previous versions.  Throws error: TypeError: ERROR.captureStackTrace is not a function in console on
http://antimatter15.com/ocrad.js/demo.html and other sites that use the library.

I had to fully disable the addon for the site to work, turning it off for just that site didn't solve it.

[2017-01-26 07:14] pimeys commented on #1055
Having the same issue here. I can see the JS error:
[code]

Firefox 50.0.1 + PB 2017.1.24.1

[2017-01-26 07:52] iGormilhit commented on #1157
I encounter a similar problem (same error message) but using firefox 50.1.0. I also had to disable the addon.

[2017-01-26 08:32] spinda commented on #1055
I'm also experiencing this, on Firefox Developer Edition 52.0a2 (2017-01-20) (64-bit) (Windows 10), with Privacy Badger 2017.1.24.1. Could this issue be reopened? (cc @cooperq)

[2017-01-26 09:40] TheMeddlingMonk commented on #1068
This is now reoccuring for me as well. It seems the latest update has broken this again.

PrivacyBadger: 2017.1.24.1
Firefox: 50.1.0

[2017-01-26 09:43] TheMeddlingMonk commented on #1157
This issue has come up before (#1068) and was fixed for a short while.

[2017-01-26 14:02] fnielsen commented on #1157
This seems to originate in src/fingerprinting.js. There were some work around that file 2 days ago with 1471ba8229b63b0ef2863245c9e56fe4fbf497cc. Did that (re)introduce the problem?

[2017-01-26 14:27] ghostwords opened #1158 "Restore canvas fingerprinting detection to Firefox"
This is the followup to #1053. We should make canvas fingerprinting detection cross-browser; [`src/fingerprinting.js`](https://github.com/EFForg/privacybadger/blob/f3585c3b9e0c908d90711bd3d12bd61ff2290126/src/fingerprinting.js) currently relies on some Chrome-specific APIs.

[2017-01-26 15:30] fedde-s commented on #1158
Are there short-term plans to release a bugfix update that disables the functionality on non-V8 browsers to make them usable again until the code is improved, as you seem to suggest in the closed pull request you linked? I believe it is currently making various web applications unusable while PB is running, also being mentioned in #1157 and several closed issues about previous occurrences of the s

[2017-01-26 15:40] ghostwords commented on #1158
Yes, absolutely, we should do that on Firefox ASAP. I would if I could.

[2017-01-26 15:51] eshellman commented on #1135
If Privacy Badger can address the issue, it would be appropriate for EFF to make some noise about it for the corresponding release.

[2017-01-26 15:54] ghostwords opened #1159 "Run regression tests on Firefox"
As pointed out by @groovecoder in https://github.com/EFForg/privacybadger/pull/1053#issuecomment-275418601.

I am not sure regression tests would have caught the issue in #1053 since we don't specifically test for canvas fingerprinting and not all sites break, just many. If this is true, let's also add a functional test for canvas fingerprinting detection.

[2017-01-26 16:58] johnmuhl opened #1160 "https://home.nest.com web app broken"
The error reported to the console is `TypeError: ERROR.captureStackTrace is not a function`.

- Mozilla Firefox 50.1.0
- Privacy Badger 2017.1.24.1

[2017-01-26 18:58] hungerburg opened #1161 "2017.1.24.1 breaks some/many PDFs"
Since the recent update some/many PDFs do not render correctly or not at all with the firefox built in pdfjs.
For a sample see - https://xmlgraphics.apache.org/fop/fo/fonts.fo.pdf
Disable PB and they show neatly!

[2017-01-26 19:28] ghostwords commented on #1161
This should be fixed with Privacy Badger version 2017.1.26.1, released a few minutes ago.

[2017-01-26 19:28] #1161 closed

[2017-01-26 19:29] ghostwords commented on #1160
This should be fixed with Privacy Badger version 2017.1.26.1, released a few minutes ago.

[2017-01-26 19:29] #1160 closed

[2017-01-26 19:29] ghostwords commented on #1157
This should be fixed with Privacy Badger version 2017.1.26.1, released a few minutes ago.

[2017-01-26 19:29] #1157 closed

[2017-01-26 19:30] ghostwords commented on #1068
This should be fixed again with Privacy Badger version 2017.1.26.1, released a few minutes ago.

[2017-01-26 19:30] ghostwords commented on #1055
This should be fixed again with Privacy Badger version 2017.1.26.1, released a few minutes ago.

[2017-01-26 19:45] cooperq commented on #500
@dhowe that is excellent news! I still need to finish our DNT list implementation based on your feedback so that it has everything needed. Sorry for the delay on this.

[2017-01-26 19:58] cooperq commented on #1154
Privacy badger should never block the first party domain, so this might be a bug. Another potential thing that could be happening is that facebook loads a frame which has a different origin and that frame in turn loads facebook, which makes facebook look like a third party to privacy badger. I will have to look into this further.

[2017-01-26 19:58] fnielsen commented on #1156
This may have been fixed in 2017.1.26.1 released some minutes ago. Try to update your PB to this version.

[2017-01-26 19:59] cooperq commented on #1052
@jawz101 are you going to make a pull request against privacy badger then?

[2017-01-26 20:02] cooperq commented on #1156
^^ what he said.

[2017-01-26 20:03] cooperq commented on #1135
Agreed

[2017-01-26 20:06] cooperq commented on #1159
This might be a duplicate of #1009

[2017-01-26 20:08] ghostwords commented on #1159
Yep.

[2017-01-26 20:08] #1159 closed

[2017-01-26 20:11] ghostwords commented on #1009
Would be good to verify that test would catch Chrome-only `src/fingerprinting.js` getting re-added in the manifest (via something breaking). We probably want to add a canvas fingerprinting detection functional test regardless ...

Should test on Firefox Beta channel too.

[2017-01-26 20:19] dhowe commented on #500
No worries -- also happy to give feedback on our process to other adoptees... Here's a bit of press as well: https://freedom-to-tinker.com/2017/01/24/adnauseam-google-and-the-myth-of-the-acceptable-ad/

[2017-01-26 20:44] FixitMad commented on #1156
Hello,

I can confirm that PB 2017.1.26.1 is now working properly with https://www.bhphotovideo.com.  Thanks for letting me know about the .1 update fix!
Thanks.

[2017-01-26 20:44] #1156 closed

[2017-01-26 22:08] hungerburg commented on #1161
Indeed - it is fixed

Thank You very much, I like the Badger!

[2017-01-26 23:56] darsie opened #1163 "Buttons not working"
Disable Privacy Badger for This Site?
Did Privacy Badger break this site? Let us know!
Donate to EFF

The button text is gray (black when mouse over) and clicking does nothing.

[2017-01-27 04:24] BillHarris9 commented on #1095
Have updated to Firefox 51.0.1 (64bit) and Privacy Badger 2017.1.26.1 and still have same issue.
Also notice that Ghostery 7.1.1.5 shows the same when clicked.

[2017-01-27 07:26] austin987 commented on #1148
@cooperq it's working now in 2017.1.26 for me, thanks

[2017-01-27 08:00] dsheroh commented on #1154
As I expected, I've run across a second site where this has happened...  Google+.

I think you're likely to at least be on the right track with your frame theory.  On both sites, I've always noticed the problem when an AJAX call fails, either to load the next section of the infinitely-scrolling page or because I've attempted to "like" or add a comment to something.  Of course, that's not entirely

[2017-01-27 17:35] jawz101 commented on #1052
Well I didn't know if it looks good or not.  Plus, I've been doing this through the website and I can't remember how I've done them in the past.  I think you guys wanted pull requests created in a certain way?  Or can you just cherry pick?

[2017-01-27 17:39] jawz101 commented on #1052
I think it's because this nice little info isn't in this new repo :)

https://github.com/EFForg/privacybadgerfirefox-legacy/blob/master/CONTRIBUTING.md

[2017-01-27 21:38] keybounce opened #1164 "Privacy Badger cannot report problems in Firefox with NoScript"
Attempting to leave feedback on broken sites with privacy badger gives an error message.

Firefox version ESR 45.7.0 (up to date)

[2017-01-27 21:43] keybounce opened #1165 "Privacy Badger is breaking a lot of sites all of a sudden"
I'm not sure why, but in the last few days a large number of sites that I have repeatedly gone to are being broken by P.B.

Examples of such "breakage": The curse CDN network used by a large number of gaming sites (minecraft related in my case). Youtube itself (including a number of the actual download domains). Google.com and accounts.google.com (which breaks trying to log into some google sites)

[2017-01-27 21:50] ghostwords commented on #1165
Hello, are you using Firefox? Updating to the latest Privacy Badger version, 2017.1.26.1, should be fix this issue. Let us know if it does not.

[2017-01-27 21:50] #1165 closed

[2017-01-27 21:51] ghostwords commented on #1164
Is this still an issue after updating to Privacy Badger version 2017.1.26.1?

[2017-01-28 00:43] terrorist96 opened #1166 "*.unicornmedia.com breaks video"
http://www.vox.com/world/2016/11/10/13577474/president-elect-donald-trump-muslim-ban

The following break the video, should be moved to yellowlist.
`onceux.unicornmedia.com`
`once-aws-eu-central-1-lb.unicornmedia.com`

[2017-01-28 08:39] Dropjeslover opened #1167 "Sliders resetting or unable to slide/select"
Hi,

I've downloaded the latest version and basically want to block everything. Unfortunately, there isn't a "block all" or selection by category option like in Ghostery (feature request!).

Anyway, I've visited several websites and now have 400+ trackers in the list. I want to block nearly all of them.
The sliders for the domain dnxs.com and adscale.de refuse to slide to block domain/cookies. Som

[2017-01-28 14:28] ghostwords commented on #1167
Same issue as #1137?

[2017-01-28 16:45] Dropjeslover commented on #1167
Yes, indeed. Hmm, I checked if there was a topic about this and must have overlooked that topic.

[2017-01-28 16:46] Dropjeslover commented on #1137
I have the same issue. No fix or comment yet?

[2017-01-28 17:12] #1167 closed

[2017-01-29 10:01] cowlicks opened #1169 "track coverage statistics"
It would be nice to know what is being covered by our Qunit tests, and what isn't. For posterity here is what I looked into:

[blanket.js](http://blanketjs.org/): it seemed to have easy support for Qunit. But it has several problems. It is unmaintained. It seems to be broken and unable to trace some of our source code. And we'd have to make our "Content security policy" include "`unsafe-eval`" and

[2017-01-29 15:50] liocalset opened #1170 "Blocks Images from Loading on app.wire.com"
Hi,

When Privacy Badger version 2017.1.26.1 is enabled under Firefox 50.1.0, images won't load in the wire webapp: wireapp/wire-webapp#689

I've tried the: "Disable Privacy Badger for This Site" option, but the only way to get images to load in the wire web app is to completely disable the extension in _about:addons._ Privacy Badger isn't blocking any trackers as there are no trackers to block. T

[2017-01-29 17:08] ghostwords commented on #1169
Sounds about right. Code coverage is already a bit niche, and here we delve deeper into niches, looking to do code coverage for browser extensions. Mocking extension APIs is probably the answer; I went down that path with Ghostery and it worked fine then. Unit tests don't actually need to exercise Chrome APIs, that's what functional/integration tests are for.

I think coverage is a potential nice-

[2017-01-29 18:37] terrorist96 opened #1171 "dictionary.com issues: static.sfdict.com blocks images, connect.facebook.com"
http://www.dictionary.com/browse/eudicot

`static.sfdict.com` blocks images. Yellowlist.
`connect.facebook.com` blocks Word of the Day, and the button at the top right of the definition to collapse/expand the definition.

[2017-01-29 21:52] cowlicks commented on #1169
@ghostwords If there is a way to do it with selenium it would would likely depend on a javascript tracer, like the one the unit tests would use. So figuring out how to get coverage on those tests should probably come first.

I'll look into revamping the tests. Here are a few items I think should be considered when doing so. Let me know if they sound good:
* Either Upgrade Qunit, or switch to [moch

[2017-01-30 00:10] ccoenen commented on #1076
(openx-stuff happened again, today)

I don't understand why this compliance list isn't built centrally and part of the privacy-badger extension? Update Privacy badger every few weeks and be done with it.

Am I missing something obvious, here?

[2017-01-30 02:03] ghostwords commented on #1169
Current thoughts:
- Upgrade QUnit: Sounds great. The older, obsoleted API we use isn't even documented at this point.
- Switch to a different test runner: What would we gain? I used Mocha before, it was fine. Don't have any preference here beyond avoiding unnecessary changes.
- We would need to mock out the WebExtensions API if we could no longer run unit tests in the actual extension context for

[2017-01-30 03:58] cowlicks commented on #1169
Upgrading sounds like a good actionable item, but separate, so I'll make an issue.

I was thinking that changing to a different testing framework might make getting coverage possible. But after thinking about it, these coverage libraries are probably implemented using `eval` or `new Function()`. Which makes running them in the Extension context impossible because of the content security policy.

F

[2017-01-30 17:30] maxvonhippel commented on #1153
I'm looking at the site example you gave with the latest build of privacy badger on the latest Google Chrome Canary and I don't see any issue.  All the images show up, and Privacy Badger reports "no tracking" for `res-4` and `res-5.cloudinary.com`.  What am I not seeing?  (New to the project so it's quite possible I'm missing something obvious, in which case I apologize)

[2017-01-30 17:32] terrorist96 commented on #1153
PB learns over time what is tracking you. In your case, you most likely haven't browsed enough sites for PB to detect and block the aforementioned site.

[2017-01-30 17:33] maxvonhippel commented on #1153
Gotcha, thanks for the explanation.  I'll start using canary as my default browser so I can accurately test stuff.

[2017-01-30 19:52] alexristich commented on #1137
I started looking into this and was fairly easily able to reproduce the issue where a slider gets "reset" to its previous position when adjusting another slider, though I haven't yet been able to reproduce the issue where the colors change incorrectly. If either of you might be able to give me a set of steps to follow that seems to create this case that would be awesome.

What I might start doing

[2017-01-31 19:48] luisrudge opened #1175 "PB is blocking auth0-lock"
Hi. I'm Luis from auth0. Privacy Badger is blocking our CDN and we had a couple of users that brought that to our attention (https://github.com/auth0/lock/issues/362). How can we work together to fix this issue?

Thanks!

[2017-02-01 05:37] cowlicks opened #1176 "One of the testing URL's is 404'ing."
[This](https://github.com/EFForg/privacybadger/blob/master/tests/selenium/super_cookie_test.py#L36) selenium test uses [this](https://rawgit.com/gunesacar/gunesacar/6f0c39fb728a218ccd91215bfefbd4e0/raw/f438eb4e5ce10dc8623a8834b1298fd4a846c6fa/low_entropy_localstorage_from_third_party_script.html) to test. But it is returning a 404.

[2017-02-01 05:37] cowlicks commented on #1176
Is there a copy of the js source somewhere?

[2017-02-01 05:45] alexristich commented on #1176
I tried switching the domain and address pattern to that of the other tests and it seems to have worked :) Here's a link:
`https://gistcdn.githack.com/gunesacar/6f0c39fb728a218ccd91215bfefbd4e0/raw/f438eb4e5ce10dc8623a8834b1298fd4a846c6fa/low_entropy_localstorage_from_third_party_script.html`

[2017-02-01 06:44] cowlicks commented on #1176
Thanks @alexristich !!! I'll give this a shot tonight.

[2017-02-01 09:19] digulla commented on #1134
Reply from Ghostery:

[2017-02-01 09:19] #1134 closed

[2017-02-01 23:57] tripkin opened #1177 "Google Custom Search blocked at stacksnippet.com"
I visited http://stacksnippet.com for the first time on Jan 31, and after testing found that PB was blocking the Google Custom Search and all search results selected by hyperlink as the search bar was not visible...
Disabling PB for this site let the site function normally. PB showed the site as not having any cookies.

Additionally,  when I tried to submit this problem using PB's built in error r

[2017-02-02 06:57] terrorist96 opened #1178 "en.wikipedia.org breaks page"
https://tools.wmflabs.org/pageviews/?project=en.wikipedia.org&platform=all-access&agent=user&range=latest-20&pages=

`en.wikipedia.org` breaks page.

[2017-02-03 00:59] terrorist96 opened #1179 "*.tout.com breaks video"
http://www.standard.net/Business/2015/03/31/Utah-s-80-mph-speed-limit-heightens-truck-tire-blowout-danger

`platform.tout.com` `videos-akamai-hls.tout.com` and `thumbnails.tout.com` break video.

[2017-02-03 03:53] terrorist96 opened #1180 "*.libsyn.com breaks video"
http://www.washingtonexaminer.com/pro-gun-groups-praise-gorsuch-pick-trump-has-kept-his-word/article/2613646

`*.libsyn.com` should be moved to the yellowlist; breaks video at the bottom.

[2017-02-03 17:00] terrorist96 commented on #1141
Same with this:
http://www.deathandtaxesmag.com/

ABP blocks the ads. But if ABP and PB are active together, the ads will show.

[2017-02-03 19:31] alexristich opened #1181 "Dates in nextUpdateTime are incorrect"
Looks like the dates aren't accurate, which is likely preventing the DNT policy from being rechecked for users and allowing traffic through to newly compliant domains.

[2017-02-03 19:37] ghostwords commented on #1181
`[2296, 2297, 2298, 2299]` is my set of years, returned by the following code run in Privacy Badger's background page context:

[code]

[2017-02-03 19:41] alexristich commented on #1181
Lol, here's a hunch:
`badger.storage.touchDNTRecheckTime("doubleclick.net", utils.oneDayFromNow() * 7);`

AKA "Give me the time since epoch for this time tomorrow... then multiply that time by seven."

[2017-02-03 19:48] cooperq commented on #1181
:disappointed: yup, that is definitely the issue. okay well the fix is easy. I will submit a patch.

[2017-02-03 20:01] ghostwords commented on #1181
Yep, dividing existing `nextUpdateTime` values by 7 gets me, if I understand this situation correctly, the very first and only time we checked DNT policy for a domain.

[2017-02-03 22:46] terrorist96 commented on #1127
http://www.nydailynews.com/news/crime/california-police-arrest-474-rescue-28-sexually-exploited-kids-article-1.2962303

[2017-02-03 22:49] terrorist96 commented on #1127
@cooperq When you mark something as "Good Volunteer Task", does that mean the issue raised is ok to be moved to the cookie block list?

[2017-02-04 02:48] cooperq opened #1183 "Possible sleep prevention issue in windows 10"
From user email:

[2017-02-04 04:31] #1176 closed

[2017-02-04 14:09] jonstoneman commented on #1183
I am experiencing this also.  It appears that the peer connection is closed when opening privacy badger's options.

[2017-02-04 21:59] lnxfrk0x01 commented on #1183
I've noticed this over the past week or so and finally had a chance to track it down and came to the same conclusion of it being tied to Privacy Badger.

@jonstoneman thanks for the tip of opening up the options to close the connection.

[2017-02-04 23:07] cowlicks opened #1184 "Fix super_cookie_test.py.SuperCookieTests.test_should_detect_ls_of_third_party_frame"
[This test](https://github.com/EFForg/privacybadger/blob/master/tests/selenium/super_cookie_test.py#L20) fails intermittently as noted by the docstring. The docstring suggests that the cookie is being set before the pb content script runs. To test this I was tried adding a sleep to the javascript that sets the cookie. My replacement test is [here]( https://rawgit.com/cowlicks/e04533cacf5717cd2cae5

[2017-02-04 23:13] cowlicks opened #1185 "Fix pbtest.org test: "Does privacy badger honor the Cookie Block List""
This test fail intermittently.

[2017-02-05 03:31] maxvonhippel opened #1186 "Extension Disabled on Chrome Canary"
I just opened Chrome Canary for the first time in a couple days to receive [this message](https://support.google.com/chrome/answer/2811969?visit_id=1-636218619297665908-2390945262&p=ui_remove_non_cws_extensions&rd=1).  The enable button is now greyed out on my extensions list, so I can't enable it.

<img width="804" alt="badger" src="https://cloud.githubusercontent.com/assets/4683443/22623455/f261

[2017-02-05 23:53] HansHauge commented on #1163
Is this happening on all pages, or one particular page?

[2017-02-06 00:00] darsie commented on #1163
On 02/06/2017 12:53 AM, Hans Hauge wrote:

It broke https://bitcoinity.org/markets/bitstamp/USD . The graphs were
missing. I tried again, now, and it works with the page and others, both
the graph and the buttons.

--
Encrypt emails.
GPG: https://sks-keyservers.net/pks/lookup?op=get&search=0xF732FBF3E4219D48

[2017-02-06 00:04] HansHauge commented on #1180
Hmm, I'm not able to replicate the broken video on that page. Could this have something to do with browsing history? For example, perhaps the pages I've visited have not caused this to be flagged by my extension, but the pages you have browsed has caused it to be blocked for your extension?

[2017-02-06 00:13] HansHauge commented on #1163
I'm seeing the Chrome privacy error on that page. That might be the cause.

<img width="795" alt="screen shot 2017-02-05 at 4 09 54 pm" src="https://cloud.githubusercontent.com/assets/3742367/22631252/ad62833a-ebbd-11e6-83ad-99f5b33d6fe1.png">

I tried going to that page in incognito mode with no extensions and the page looks like this:

<img width="1440" alt="screen shot 2017-02-05 at 4 12 21 pm"

[2017-02-06 00:24] darsie commented on #1163
On 02/06/2017 01:13 AM, Hans Hauge wrote:

Works for me on iceweasel (debian's firefox). See attached screenshot.

--
Encrypt emails.
GPG: https://sks-keyservers.net/pks/lookup?op=get&search=0xF732FBF3E4219D48

[2017-02-06 00:27] darsie commented on #1163
![Uploading 2017-02-06-012247_1191x789_scrot.png…]()

[2017-02-06 00:32] darsie commented on #1163
https://imgur.com/ePBparc

[2017-02-06 00:42] terrorist96 commented on #1180
Exactly.

[2017-02-06 10:39] finwe opened #1187 "Settings dialog width not sufficient when icon in menu"
Is is not possible to change settings when I move the Badger icon from main toolbar under the menu button, because the menu width is not sufficient.

![shot_170206_113711](https://cloud.githubusercontent.com/assets/195675/22643924/d15a256a-ec60-11e6-889a-27042db39933.png)

Also there is no scrollbar visible.

Firefox 51.0.1 on Windows 7.

[2017-02-06 16:06] HansHauge commented on #1163
Ok, thanks for the info. I was using OSX.

[2017-02-06 17:13] dcltdw opened #1188 "pandora.com no longer working"
Is there a better forum to ask which sliders should be enabled for a specific site?
In my case, pandora.com has stopped working over the weekend.  This is not so much a specific bug to PB, but rather, a user support issue - but I can't find a user support forums.
Thanks for any help!

[2017-02-06 21:01] terrorist96 commented on #1127
http://www.infowars.com/watch-alex-jones-show/

[2017-02-06 21:28] #1188 closed

[2017-02-07 00:57] terrorist96 commented on #1127
http://www.politifact.com/truth-o-meter/statements/2017/feb/02/nancy-pelosi/pelosis-misleading-claim-gorsuch-sides-felons-over/

[2017-02-07 01:25] terrorist96 commented on #1118
https://feeds.feedburner.com/volokh/mainfeed

[2017-02-07 06:06] Th3MadHatter opened #1189 "PB stopped working in general (FF 51.0.1 32-bit Win7 64bit) because of conflict with RequestPolicy"
I have no idea how long this issue has been going on but PB stopped working all together, I noticed because I wanted to import my settings into SRware Iron.

I tried reinstalling it but that didn't fix the issue either, it actually installed it twice so I removed both of them and tried reinstalling from the EFF page.

No more sliders, all of the menu options stopped working (greyed out donate, gre

[2017-02-07 15:33] ghostwords commented on #1189
This is in Firefox, right? Have you disabled JavaScript in Firefox?

[2017-02-07 15:37] ghostwords commented on #1186
Something like this happened before, at least once: #916.

[2017-02-07 16:23] ghostwords commented on #1076
Good question! @cooperq, is checking DNT policies in each client a policy mandate like client-side tracker discovery?